$add = 16px 16px
$chevron-down = 10px 5px
$chevron-left = 7px 14px
$chevron-right = 7px 14px
$chevron-up = 10px 5px
$close = 16px 16px
$enter = 26px 19px
$fb = 18px 18px
$github-octocat = 100px 100px
$gp = 18px 18px
$grid = 128px 128px
$hamburger = 20px 14px
$heart = 510px 510px
$input = 128px 128px
$maginifer = 17px 17px
$mr = 18px 18px
$ok = 18px 18px
$rss = 16px 16px
$text = 128px 128px
$tw = 18px 18px
$user = 20px 20px
$vk = 18px 18px


svgSize($icon)
	width $icon[0]
	height $icon[1]