// if $media-enable-debug
// 	// Стили для отладки @media
// 	body:before
// 		display block
// 		position fixed
// 		left 0
// 		bottom 0
// 		background #fff
// 		z-index 101
// 		color #000
// 		padding 10px
// 		border 1px solid silver
// 		border-radius 2px


// @media only screen
// 	// Cтили для более разумных, но все еще мобильных устройств.
// 	// Android, iPhone  и так далее.
// 	@media (min-width: $media-screen-xs)
// 		if $media-enable-debug
// 			body:before
// 				content 'min-width: $media-screen-xs'



// 	// Планшеты в режиме portrait.
// 	@media (min-width: $media-screen-sm)
// 		if $media-enable-debug
// 			body:before
// 				content 'min-width: $media-screen-sm'



// 	// Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
// 	@media (min-width: $media-screen-md)
// 		if $media-enable-debug
// 			body:before
// 				content 'min-width: $media-screen-md'



// 	// Десктоп с большими разрешениями, телевизоры.
// 	@media (min-width: $media-screen-lg)
// 		if $media-enable-debug
// 			body:before
// 				content 'min-width: $media-screen-lg'

@media (max-width: 1180px)
  .header-login__text
    font-size: 18px;
    font-weight: bold;
  .catalog__acord-wrap
  .header__title-wrap 
    margin: 0px 10px 0px 0;
  .serv__row 
    .services-list__col + .services-list__col
      margin-top 0px
  .header-login_fav 
    width 20%
  .header__login_reset
    top 23px
    .header-login__item:first-child
      margin-bottom: 2px;
  .catalog-header__tabs
    margin: 15px 10px 30px 0;
  .catalog-header__salons
    margin-right 10px
  .catalog_salons .catalog__item
    margin: 0 1% 20px 0;
    width: 48.6%;
  .catalog_salons
    margin 0px
  .catalog_list .catalog__item
    width 98.3%
  .catalog-item-top_list .catalog-item-top__info
    margin-left 75%
  .catalog-item-top_list .catalog-item-top__image
    width 73%
  .catalog-item-top__image
    width 48%
  .catalog-item-top__info
    margin-left 51%
  .layout__content
  body .layout__content_reset
    width 77%
  .layout_sidebar_right .layout__sidebar
    width 22%
  .catalog
    width 100%
  .page__main:before
    margin-left: 26.3%;
    width auto
  .filters 
    padding-bottom: 15px;
    padding-top: 15px;
  .catalog-item-info__phone
    font-size 21px
  .page__main
  .footer
  .filters
  .header__bottom
  .header__top
    padding-left: 10px;
    padding-right: 10px;
  .catalog_tiles .catalog__item
    margin 0 0 20px 0
    width 50%
  .catalog_tiles
    margin 0px
  .catalog-header__catalog-view
    position relative
  .footer-menu__item
    display block
    margin-bottom 8px
  .footer__inner
    padding-top 25px
    background-position: 0 23px;
  .footer__menu
    margin-top 0px
  .footer-menu__link
    font-size 16px
  .filters__row__tab
    float none
    .filters__item 
      width 50%
      margin-bottom 15px
    &:last-child .filters__item 
      margin 0px
  .filters__row__coll__left
    width 404px
    .filters__row__tab:last-child
      .filters__item
        float right
  .main-menu__link
    padding 12px 0
    width 100%
  .filters__row
    margin-top: 7px
  .main-menu__item
    display: inline-block;
    width: 24%;
    float none
    text-align: center
  .header__menu
    width 80%
  .header__add-profile-button
    text-align: right
    width 20%
    .button 
      width: 100%;
      text-align: center;
      padding: 0;
      height: 33px;
      line-height: 33px;
  .filters__row__checkbox-1
    position: absolute;
    right: 15px;
    top: 61px;
  .filters__row_advanced
    .filters__item_right
      clear: both;
      float: none;
      padding-top: 9px;
  .header-login .header-login__item
    display block
  .logined 
    .header__login_reset
      top 35px
    .header-login__item
      display inline-block
    .header-login__item
      margin-left 28px
  .header-login__item:first-child
    margin-bottom 15px
  .header__login
    margin-top 0px
  .icon_user
    position relative 
    left 3px
  .catalog_only-photo
    margin 0px
    width 98.5%
    .catalog__item:nth-child(3n+3)
      margin-right 0px
    .catalog__item:nth-child(3n+1)
      margin-left 0px
  .catalog_only-photo .catalog__item
    margin: 1.5%;
    width: 31.32%;
  .catalog_list
    margin 0px 
    .catalog__item
      margin 0px
      margin-bottom 30px
    .catalog-item 
      padding 0px
  .catalog-item_tiles:hover 
  .catalog-item_list:hover
    border 1px solid transparent
  .catalog_only-photo
    .catalog__item
      margin-top 0px
      margin-bottom 3%
  .catalog-item-info__favorite .button 
    width 100%
  .catalog_rev_col1
    width 78.4%
  .label__checkbox_top
    margin-left 19px
  .salon__items
    .catalog__item 
      width 48%
      margin-right 0px
@media (max-width: 1160px)
  .worksheet-item
    width 33%
  .b-hid
  .worksheet-item .ban__stat
    display none
  .worksheet__img
    height: 206px;
    overflow: hidden;
  .worksheet-item__col
    flex-wrap wrap
  .worksheet_50
    width 100%
  .worksheet_50:nth-child(2)
    padding-left 0px
    margin-top 10px
@media (max-width: 1150px)
  .form__input_focus span
  .form__input_error span
    display none
@media (max-width: 1124px)
  .label__checkbox_worksheet
    margin 0 6px 0 4px
    .jq-checkbox
      margin-right 6px
@media (max-width: 1115px)
  .worksheet-stat .button
    padding 0 8px
@media (max-width: 1020px)
  .worksheet-item
    width 48.5%
  for $i in (1..5)
    .worksheet__buttons .button:nth-child({$i})
      flex-grow $i
  .worksheet__buttons .button
    margin 0 3px
  .worksheet__img
    height: auto;
    overflow: visible;
  .worksheet_50:nth-child(2)
    padding-left 20px
    margin-top 0px
  .worksheet-item__col
    flex-wrap wrap
  .worksheet_50
    width 48.5%
  .catalog-item-only-photo__image:hover 
    opacity 1
  .catalog__acord-wrap
    margin-right 0px
  .header__title-wrap 
  .catalog__acord
    margin: 0px;
  .pseudo-dropdown-list_services
    height 454px 
    overflow-y scroll
  .catalog-item-info__name
    width 83%
    float left
  body .layout__content_75
    width 100%
  .catalog_rev_col1
    width: 79.4%;
  .catalog-header__tabs
    margin: 15px 0px 30px 0;
  .catalog-header__salons
    margin-right 0px
  .catalog_salons .catalog__item
    margin: 0 3% 20px 0;
    width: 48.4%;
  .catalog_salons .catalog__item:nth-child(even)
    margin 0 0 20px 0
  .pseudo-dropdown__list_services
    left: 0px;
    width 100%
  .services-list__col + .services-list__col
    margin 20px 0 0 0
  .pseudo-dropdown__list_services:before
    left 0px;
  .catalog_only-photo
    width 100%
  .filters__item_reset
    margin-top 10px
    .filters__input
      width: 259px;
      margin-left: 83px;
    .filters__label_services
      width: 66px;
  .float__none 
    float none
  .layout__sidebar
    display none
  .layout__content
  body .layout__content_reset
    width 100%
  .page__main:before
    display none
  .catalog-item_tiles, .catalog-item_list
    padding 0px
  .catalog_tiles 
    .catalog__item
      width 48%
      &:nth-child(odd)
        margin-right: 4%;
        margin-bottom: 6%;
  .header-login
    position relative
    right 11px
  .header__metro
    margin-left 27px
    margin-top 8px
  .pseudo-dropdown_desktop
    .pseudo-dropdown__title
      display block
    .pseudo-dropdown__trigger-checkbox
      margin-left 0px
  .pseudo-dropdown_desktop
    .pseudo-dropdown__top:after
      top 27px
  .filters__row__coll__left
    .filters__row__tab
      &:first-child
        .filters__item
          &:first-child
            width 39%
      &:last-child
        .filters__item
          &:first-child
            margin-right 33px
          &:last-child 
            width: 39%;
  .filters__row__tab .filters__item
    width 52%
  .filters__row 
    .form-item_type_checkbox
      padding-left 26px
    .filters__item_checkbox
      margin-left: 18px;
  .filters__row__coll__left
    width 370px
  .filters__input_small
    width 78px
  .filters__item_right .filters__show-button
  .filters__hide-button
    margin-right 62px
  .catalog-item-info__favorite
    display none
  .catalog_list .catalog__item
    width 100%
  .add__favorite
    display inline-block
  .serv__row .pseudo-dropdown-list_services
    overflow-y hidden
    height auto
@media (max-width: 916px)
  .worksheet-wrap .ban__stat
    display none
  .b-hid 
    display none
  .worksheet__img
    height: 155px;
    overflow: hidden;
  .worksheet-item__col
    flex-wrap wrap
  .worksheet_50
    width 100%
  .worksheet_50:nth-child(2)
    padding-left 0px
    margin-top 10px
  .worksheet-item
    width: 33.3%;
@media (max-width: 840px)
  .worksheet-form
    flex-wrap wrap
    .salon__col
      width 100%
    .ta-right
      text-align left
    .salon__col.row
      width 50% 
      margin 0 0 10px 0
    .label__checkbox_worksheet
      margin 0 15px
  .worksheet-form
  .worksheet__col
    .label__checkbox
      margin-bottom 0px
  .banner__col
    padding 15px
  .label__checkbox
    margin-bottom 15px
  .label__checkbox_top
    margin-left: 8px;
  .logined
    .header-login .header-login__item
      display inline-block
@media (max-width: 800px)
  .worksheet-form .salon__col.row
    width 100%
  .worksheet-form .span__col_100
    width 100px
  .worksheet-stat
    flex-wrap wrap 
    .worksheet__col 
      width 100%
      margin-bottom 10px
  .worksheet-item
    width 48.5%
@media (max-width: 774px)
  .form__input_success:after
  .form__input_error:after
    left: auto 
    right: 8px
  .form__input_268
    width 100%
  .col__48_r
    width 100%
    .add__photo
      text-align: center
    .salon__row
      flex-direction row
    .label__checkbox
      width 30%
      margin 0px
      img 
        width 100%
  .row__48
    flex-direction column
  .serv__row .services-list__col
    width 50%
  .serv__row .services-list
    flex-wrap: wrap;
  .catalog-header__tabs.active
    .column-r-wrapper
      display flex
      border-top 1px solid #650233
      border-bottom 1px solid #650233
      padding-top 15px
      padding-bottom 15px
  .column-r-wrapper
    display none
    margin-top 15px
  .button__sub
    padding 0px
    display block
  .column-r-wrapper.column-r
    flex-direction column
  .catalog-header__link:hover
    border-radius 2px
  .catalog-header__link.active
    border-radius 2px 
    margin-bottom 1px
    box-shadow none
  .filters__global-hide-button
    left 34%
  .header-login__text
    font-size 18px 
    font-weight bold
@media (max-width: 767px)
  .pseudo-dropdown__trigger-checkbox
    position relative 
    z-index 2 
  .main-content
    padding-top 22px
  .filters__global-hide-button
    display none
  .tarif__row
    flex-wrap wrap
  .tarif__col 
    width 50% 
  .tarif__bold
    display inline-block
    margin-left 20px
  .tarif__col
    .button
    .ac__icon  
      margin 0px
      position relative 
      top -25px
  .pseudo-dropdown_dropdown_open:after
    display none
  .catalog-item-info__name
    width 100%
  .header-login_fav
    display none
  .header__menu 
    display: inline-flex;
    justify-content: space-between;
  .search__button-wrapper
    margin-left auto
  .catalog_tiles .catalog__item:nth-child(odd)
    margin-right 0px
  .catalog-item_tiles, 
  .catalog-item_list
    padding 0px
  .catalog_only-photo
    .catalog-item-only-photo__metro
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  .catalog-item-only-photo__bottom
    padding 10px
  .catalog_list
    margin 0px
  .catalog_list
    .catalog-item-info__phone
      font-size 20px
  .filters__values
    display block
    margin-top 15px
    margin-bottom 25px
    position relative
    .filters__sep 
      display inline-block
      margin 0 10px
    .filters__input_label-large
      width 100px
    input 
      padding-left: 27px !important;
    .filters__value-1
      position absolute
      top 5px
      left 3px
    .filters__value-2
      position absolute
      top 5px
      left 137px
  .catalog_tiles .catalog__item
    width 100%
  .filters__row__coll__left
    width 100%
    float none
    .filters__input_small
      width 100px
    .filters__row__tab .filters__item
      width 134px
  .filters__item_right
    float none
    margin 25px 0 15px 0
  .filters__row__checkbox-1
    position relative
    right 0px 
    top 0px 
    float none
    .filters__item_checkbox
      display block
      float none
      margin-left 0px
      margin-bottom 15px
  .filters__row__checkbox-2
    margin 20px 0 0 0
    .filters__submit-button
      display block
      margin 25px 0 30px 0
  .filters__row__coll__left
    .filters__label
      position relative
      text-align: left
    .filters__input
      margin-left 0px
  .filters__row__tab .filters__item
    width 143px
  .filters__row_advanced
    margin-bottom 20px
    .filters__label
      position relative
      width 100%
      text-align: left
    .filters__input_large
    .filters__input_services
      width 100%
      margin-left 0px
    .filters__item
      float none
      margin: 26px 0;
    .filters__item_right
      margin 0px
      padding 0px
  .filters__inner
    width 300px
    margin 0px
  .pseudo-dropdown__list_services
    width 100%
    left 0px
  .services-list__col
    margin 20px 0 0 0px !important
  .pseudo-dropdown__list_services:before
    left 0px
  .main-menu__item
    display block
  .main-menu__item:after
  .main-menu__item:before
    display none !important
  .header__add-profile-button,
  .header-login
    display none
  .main-menu
    display none
    position absolute
    background: color7
    z-index 3
    width 100%
    margin 0 -10px
    top 40px
    left 0px
    .main-menu__item
      padding 0 10px
      width 100%
      border-bottom 1px solid color16
      text-align left
      background: color7
      a 
        border none
        padding-left 70px
        box-sizing border-box
  .header__menu
    width 100%
  .filters 
    display none
  body .toggle-menu
    display inline-block
    vertical-align: middle
    float left
  .main-menu.active 
    display block
  .header__metro
    display none
  .catalog-item-top__image img:hover
    opacity 1
  .pseudo-dropdown_mobile 
    .pseudo-dropdown__top
      display flex
      flex-direction row
    .pseudo-dropdown__title
      width 54px 
    .pseudo-dropdown__trigger-checkbox
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      margin-left 0px
    float left
    display block
    width 213px
    vertical-align: middle
    height 40px
    line-height @height 
    &:after
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 60px
      background: linear-gradient(-90deg, #610538 19%, #5f0236 58%, rgba(97, 5, 56, 0.06) 100%);
    .ps-container .ps-scrollbar-x, 
    .ps-container .ps-scrollbar-y
      background: color16
    .ps-container .ps-scrollbar-x-rail, 
    .ps-container .ps-scrollbar-y-rail
      background: color30
    .pseudo-dropdown__top
      .pseudo-dropdown__title
        padding-left 6px
      &:after 
        background-image none
        left 86%
        top 17px
        z-index 1
    .pseudo-dropdown-list_mobile ul
      padding-bottom 120px
  .pseudo-dropdown_mobile.pseudo-dropdown_dropdown_open .form-item__label
    color white
  .pseudo-dropdown_mobile .pseudo-dropdown__list_checkbox
    left: -52px;
    margin-top: 0px;
  .pseudo-dropdown_mobile.pseudo-dropdown_dropdown_open 
    > div 
      background: color7
      border none 
    &:after 
      content: '';
      background: linear-gradient(-90deg, rgba(125, 30, 88, 1) 49%, rgba(125, 30, 88, 0) 88%, rgba(97, 5, 56, 0.06) 100%);
  .footer__menu
    margin-left 0px
    margin-top: 112px;
  .footer__button
    position absolute
    top 90px
  .footer__inner
    position relative
  .footer-menu__item
    margin 0 40px 8px 0
  .search__button-wrapper,
  .log__button-wrapper
    display block
  .filters.active
    display block
    padding-top 20px
  .logo
    retinaSprite($sprite_logo_group) 
    img 
      display none
  .footer__inner
    background: none
    &:after 
      display block
      content ''
      position: absolute;
      top: 23px;
  .filters__row__coll__left .filters__row__tab:last-child .filters__item:first-child
  .filters__row__coll__left .filters__row__tab:last-child .filters__item:last-child
  .filters__row__coll__left .filters__row__tab:first-child .filters__item:first-child
    margin-right 0px
    width: 50%
  .add__favorite
    display none
  .catalog-item-info__favorite
    display block
@media (max-width: 753px)
  .add__funds-row 
    > .row 
      flex-direction column
    .button 
      width 180px
      margin 0 auto
  .span__col_100
    width 55px
  .span__col_150
    width 76px
  .add__funds-col
    width 100%
  .product-offers-list__item
    width 48%
  .product-info__left
    width 100% 
    float none
  .product-info__right
    width 100% 
    float none
    margin 20px 0 0 0
  .product-info__offers
    margin-top 30px
@media (max-width: 740px)
  .banner__but 
  .banner__link 
    justify-content: flex-start;
  .button_banner
      margin-right 10px
  .banner__col-2
    width 100%
    &:first-child
      margin-bottom 20px
  .ban__row 
    flex-direction column
@media (max-width: 736px)
  .balance-block
    display none
  .salon__row 
    flex-direction column
  .salon__col
    width 100%
@media (max-width: 700px)
  .catalog_rev_col1
    width: 60.4%;
  .catalog_rev_col2
    width 32%
@media (max-width: 697px)
  .salon__items .catalog__item
    width 100%
@media (max-width: 670px)
  .same__col 
    width 100%
    margin 0 0 20px 0
    border-bottom 1px solid border
    padding 0 0 15px 0
    display block
  .article__img
    float none 
    width 100% 
    margin 0 0 20px 0
  .salon__col
    width 100%
  .banner-wrapper
    padding 10px
  .banner__col
    width 100%
    margin-bottom 20px
  .banner__cols
  .banner__column
    flex-direction column
  .banner__row:first-child
    margin 0 0 10px 0
  .banner__b_100
    width 100%
  .banner__b
    margin 0 0 10px 0
  .add__photo 
    flex-direction column
    .col__48
      width 100%
      &:first-child
        margin 0 0 15px 0
@media (max-width: 635px)
  .worksheet__buttons
    flex-wrap wrap 
    .button
      margin-bottom 10px
  .prof__but
    padding-top 10px
  .catalog__form
    padding 20px
  .row_m-30 
    flex-direction column
    .catalog__form_filter
      width 100%
      margin 10px 0 0 0
    .form__area 
      margin 10px 0 0 0
@media (max-width: 600px)
  .header-login__balance
    display none
  .tarif__col
    width 100%
  .tarif__col
    .button
    .ac__icon  
      margin 10px 0 0 0
      position relative 
      top 0px
      left auto
@media (max-width: 574px)
  .worksheet-item
    width 100%
  .worksheet_50
    width: 48.5%
  .worksheet_50:nth-child(2)
    padding-left 20px
  .worksheet__img
    height auto
  .column-r-wrapper
    display none
    margin-top 15px
  .button__sub
    padding 0px
    display block
  .main-content__articles-col2 a
    font-size 19px
  .main-content__articles-col1
    width 100%
    margin-bottom 15px
  .main-content__articles-col2
    width 100%
    margin 0px
  .column-r-wrapper.column-r
    flex-direction column
  .catalog-header__link:hover
    border-radius 2px
  .catalog-header__link.active
    border-radius 2px 
    margin-bottom 1px
    box-shadow none
  .catalog-item__text
    height auto
  .catalog_salons .catalog__item
    margin: 0 0 20px 0;
    width: 100%;
@media (max-width: 500px)
  .filters__inner
    width 100%
  .catalog_only-photo
    margin 0px
    .catalog__item:nth-child(3n+3)
      margin-right 1.5%
    .catalog__item:nth-child(3n+1)
      margin-left 1.5%
    .catalog__item:nth-child(odd)
      margin-left 0px
    .catalog__item:nth-child(even)
      margin-right 0px
  .catalog_only-photo .catalog__item
    margin: 1.5%;
    width: 48.4%;
  .catalog-view__item:nth-child(2)
    margin-left 0px
  .catalog-item-info__phone
    font-size 20px
  .catalog-header__title
    font-size 25px
  .catalog-item_tiles, .catalog-item_list
    padding 0px
  .header__login
  .catalog-view__title
  .catalog-view__item_list
    display none
  .catalog-item-parameters__item
    height 31px
  .catalog-item-top__image
    width 41%
  .catalog-item-top__info
    margin-left 44%
  .catalog-item_tiles:hover, .catalog-item_list:hover
    border 1px solid transparent
  .recover__password
    width 100%
  .b-popup__content_login
    padding 20px 20px 30px 20px
@media (max-width: 490px)
  .catalog-header__controls
    position relative 
    .catalog-header-controls__button
      margin-left 0px !important
  .serv__row .services-list__col
    width 100%
  .worksheet-form
    .label__checkbox:nth-child(2)
      margin-left 22px
    .label__checkbox:last-child
      margin: 10px 0 0 110px; 
    .salon__col 
      flex-direction column
      flex-wrap wrap
      .banner__row
        margin-top 10px
        span 
          padding 0px
@media (max-width: 465px)
  .worksheet_50
    width: 100%
  .worksheet_50:nth-child(2)
    padding-left 0px
  .worksheet__img
    height 150px
@media (max-width: 420px)
  .catalog-item-only-photo__phone
    font-size 15px
@media (max-width: 415px)
  .button_banner
    margin-right 0px
  .banner__but
    justify-content space-between
  .pseudo-dropdown_mobile
    width 100%
  .catalog-item-middle__parameters_reset
    display block
    margin-bottom 0px
  .catalog-item__middle
    display none
  .all__banner
    font-size 14px
  .button_banner
    padding 0 26px
  .prof__but 
    .catalog-header__link 
      display block
  .salon__col
    label:last-child
      margin-left 89px
@media only screen and (max-width : 364px)
  .worksheet-item .salon__bottom
    flex-direction row
  .form__input_142
    display block
    margin 20px 0 0 0
    width 100%
  .salon__bottom
    flex-direction column
  .salon__col2 
    width 100%
  .b-status
    text-align: center
  .product-offers .product-offers-list-item__tel
    font-size 14px
  .product-info-content-authorization__buttons a
    display block 
    margin-bottom 5px
  .span__col_200
    width 115px
  .salon__timeline
    margin-left 115px
@media(max-width: 320px)
  .catalog-item-only-photo__phone
    font-size 20px
  .pseudo-dropdown_dropdown_open:after
    display block
  .catalog_only-photo .catalog__item
    margin: 1.5%;
    width: 100%;
    margin-left 0px
    margin-right 0px  