/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite_ac_name = 'sprite-ac';
$sprite_ac_x = 235px;
$sprite_ac_y = 52px;
$sprite_ac_offset_x = -235px;
$sprite_ac_offset_y = -52px;
$sprite_ac_width = 25px;
$sprite_ac_height = 25px;
$sprite_ac_total_width = 260px;
$sprite_ac_total_height = 200px;
$sprite_ac_image = 'sprite.png';
$sprite_ac = 235px 52px -235px -52px 25px 25px 260px 200px 'sprite.png' 'sprite-ac';
$sprite_active_name = 'sprite-active';
$sprite_active_x = 68px;
$sprite_active_y = 124px;
$sprite_active_offset_x = -68px;
$sprite_active_offset_y = -124px;
$sprite_active_width = 20px;
$sprite_active_height = 20px;
$sprite_active_total_width = 260px;
$sprite_active_total_height = 200px;
$sprite_active_image = 'sprite.png';
$sprite_active = 68px 124px -68px -124px 20px 20px 260px 200px 'sprite.png' 'sprite-active';
$sprite_bclose_name = 'sprite-bclose';
$sprite_bclose_x = 0px;
$sprite_bclose_y = 173px;
$sprite_bclose_offset_x = 0px;
$sprite_bclose_offset_y = -173px;
$sprite_bclose_width = 14px;
$sprite_bclose_height = 14px;
$sprite_bclose_total_width = 260px;
$sprite_bclose_total_height = 200px;
$sprite_bclose_image = 'sprite.png';
$sprite_bclose = 0px 173px 0px -173px 14px 14px 260px 200px 'sprite.png' 'sprite-bclose';
$sprite_bigcrown_name = 'sprite-bigcrown';
$sprite_bigcrown_x = 68px;
$sprite_bigcrown_y = 95px;
$sprite_bigcrown_offset_x = -68px;
$sprite_bigcrown_offset_y = -95px;
$sprite_bigcrown_width = 48px;
$sprite_bigcrown_height = 29px;
$sprite_bigcrown_total_width = 260px;
$sprite_bigcrown_total_height = 200px;
$sprite_bigcrown_image = 'sprite.png';
$sprite_bigcrown = 68px 95px -68px -95px 48px 29px 260px 200px 'sprite.png' 'sprite-bigcrown';
$sprite_bigpin_name = 'sprite-bigpin';
$sprite_bigpin_x = 204px;
$sprite_bigpin_y = 95px;
$sprite_bigpin_offset_x = -204px;
$sprite_bigpin_offset_y = -95px;
$sprite_bigpin_width = 26px;
$sprite_bigpin_height = 23px;
$sprite_bigpin_total_width = 260px;
$sprite_bigpin_total_height = 200px;
$sprite_bigpin_image = 'sprite.png';
$sprite_bigpin = 204px 95px -204px -95px 26px 23px 260px 200px 'sprite.png' 'sprite-bigpin';
$sprite_building_name = 'sprite-building';
$sprite_building_x = 131px;
$sprite_building_y = 146px;
$sprite_building_offset_x = -131px;
$sprite_building_offset_y = -146px;
$sprite_building_width = 14px;
$sprite_building_height = 23px;
$sprite_building_total_width = 260px;
$sprite_building_total_height = 200px;
$sprite_building_image = 'sprite.png';
$sprite_building = 131px 146px -131px -146px 14px 23px 260px 200px 'sprite.png' 'sprite-building';
$sprite_car_name = 'sprite-car';
$sprite_car_x = 150px;
$sprite_car_y = 124px;
$sprite_car_offset_x = -150px;
$sprite_car_offset_y = -124px;
$sprite_car_width = 26px;
$sprite_car_height = 13px;
$sprite_car_total_width = 260px;
$sprite_car_total_height = 200px;
$sprite_car_image = 'sprite.png';
$sprite_car = 150px 124px -150px -124px 26px 13px 260px 200px 'sprite.png' 'sprite-car';
$sprite_chat_name = 'sprite-chat';
$sprite_chat_x = 199px;
$sprite_chat_y = 146px;
$sprite_chat_offset_x = -199px;
$sprite_chat_offset_y = -146px;
$sprite_chat_width = 16px;
$sprite_chat_height = 14px;
$sprite_chat_total_width = 260px;
$sprite_chat_total_height = 200px;
$sprite_chat_image = 'sprite.png';
$sprite_chat = 199px 146px -199px -146px 16px 14px 260px 200px 'sprite.png' 'sprite-chat';
$sprite_close_name = 'sprite-close';
$sprite_close_x = 108px;
$sprite_close_y = 124px;
$sprite_close_offset_x = -108px;
$sprite_close_offset_y = -124px;
$sprite_close_width = 20px;
$sprite_close_height = 20px;
$sprite_close_total_width = 260px;
$sprite_close_total_height = 200px;
$sprite_close_image = 'sprite.png';
$sprite_close = 108px 124px -108px -124px 20px 20px 260px 200px 'sprite.png' 'sprite-close';
$sprite_crown_name = 'sprite-crown';
$sprite_crown_x = 164px;
$sprite_crown_y = 95px;
$sprite_crown_offset_x = -164px;
$sprite_crown_offset_y = -95px;
$sprite_crown_width = 40px;
$sprite_crown_height = 24px;
$sprite_crown_total_width = 260px;
$sprite_crown_total_height = 200px;
$sprite_crown_image = 'sprite.png';
$sprite_crown = 164px 95px -164px -95px 40px 24px 260px 200px 'sprite.png' 'sprite-crown';
$sprite_eng_name = 'sprite-eng';
$sprite_eng_x = 235px;
$sprite_eng_y = 77px;
$sprite_eng_offset_x = -235px;
$sprite_eng_offset_y = -77px;
$sprite_eng_width = 22px;
$sprite_eng_height = 17px;
$sprite_eng_total_width = 260px;
$sprite_eng_total_height = 200px;
$sprite_eng_image = 'sprite.png';
$sprite_eng = 235px 77px -235px -77px 22px 17px 260px 200px 'sprite.png' 'sprite-eng';
$sprite_fhover_name = 'sprite-fhover';
$sprite_fhover_x = 231px;
$sprite_fhover_y = 146px;
$sprite_fhover_offset_x = -231px;
$sprite_fhover_offset_y = -146px;
$sprite_fhover_width = 16px;
$sprite_fhover_height = 13px;
$sprite_fhover_total_width = 260px;
$sprite_fhover_total_height = 200px;
$sprite_fhover_image = 'sprite.png';
$sprite_fhover = 231px 146px -231px -146px 16px 13px 260px 200px 'sprite.png' 'sprite-fhover';
$sprite_footer_name = 'sprite-footer';
$sprite_footer_x = 0px;
$sprite_footer_y = 0px;
$sprite_footer_offset_x = 0px;
$sprite_footer_offset_y = 0px;
$sprite_footer_width = 260px;
$sprite_footer_height = 52px;
$sprite_footer_total_width = 260px;
$sprite_footer_total_height = 200px;
$sprite_footer_image = 'sprite.png';
$sprite_footer = 0px 0px 0px 0px 260px 52px 260px 200px 'sprite.png' 'sprite-footer';
$sprite_frame_name = 'sprite-frame';
$sprite_frame_x = 215px;
$sprite_frame_y = 146px;
$sprite_frame_offset_x = -215px;
$sprite_frame_offset_y = -146px;
$sprite_frame_width = 16px;
$sprite_frame_height = 13px;
$sprite_frame_total_width = 260px;
$sprite_frame_total_height = 200px;
$sprite_frame_image = 'sprite.png';
$sprite_frame = 215px 146px -215px -146px 16px 13px 260px 200px 'sprite.png' 'sprite-frame';
$sprite_gok_name = 'sprite-gok';
$sprite_gok_x = 163px;
$sprite_gok_y = 146px;
$sprite_gok_offset_x = -163px;
$sprite_gok_offset_y = -146px;
$sprite_gok_width = 18px;
$sprite_gok_height = 14px;
$sprite_gok_total_width = 260px;
$sprite_gok_total_height = 200px;
$sprite_gok_image = 'sprite.png';
$sprite_gok = 163px 146px -163px -146px 18px 14px 260px 200px 'sprite.png' 'sprite-gok';
$sprite_home_name = 'sprite-home';
$sprite_home_x = 34px;
$sprite_home_y = 95px;
$sprite_home_offset_x = -34px;
$sprite_home_offset_y = -95px;
$sprite_home_width = 34px;
$sprite_home_height = 51px;
$sprite_home_total_width = 260px;
$sprite_home_total_height = 200px;
$sprite_home_image = 'sprite.png';
$sprite_home = 34px 95px -34px -95px 34px 51px 260px 200px 'sprite.png' 'sprite-home';
$sprite_lhover_name = 'sprite-lhover';
$sprite_lhover_x = 230px;
$sprite_lhover_y = 124px;
$sprite_lhover_offset_x = -230px;
$sprite_lhover_offset_y = -124px;
$sprite_lhover_width = 16px;
$sprite_lhover_height = 12px;
$sprite_lhover_total_width = 260px;
$sprite_lhover_total_height = 200px;
$sprite_lhover_image = 'sprite.png';
$sprite_lhover = 230px 124px -230px -124px 16px 12px 260px 200px 'sprite.png' 'sprite-lhover';
$sprite_list_name = 'sprite-list';
$sprite_list_x = 14px;
$sprite_list_y = 173px;
$sprite_list_offset_x = -14px;
$sprite_list_offset_y = -173px;
$sprite_list_width = 16px;
$sprite_list_height = 12px;
$sprite_list_total_width = 260px;
$sprite_list_total_height = 200px;
$sprite_list_image = 'sprite.png';
$sprite_list = 14px 173px -14px -173px 16px 12px 260px 200px 'sprite.png' 'sprite-list';
$sprite_logo_name = 'sprite-logo';
$sprite_logo_x = 0px;
$sprite_logo_y = 52px;
$sprite_logo_offset_x = 0px;
$sprite_logo_offset_y = -52px;
$sprite_logo_width = 235px;
$sprite_logo_height = 43px;
$sprite_logo_total_width = 260px;
$sprite_logo_total_height = 200px;
$sprite_logo_image = 'sprite.png';
$sprite_logo = 0px 52px 0px -52px 235px 43px 260px 200px 'sprite.png' 'sprite-logo';
$sprite_loop_name = 'sprite-loop';
$sprite_loop_x = 88px;
$sprite_loop_y = 124px;
$sprite_loop_offset_x = -88px;
$sprite_loop_offset_y = -124px;
$sprite_loop_width = 20px;
$sprite_loop_height = 20px;
$sprite_loop_total_width = 260px;
$sprite_loop_total_height = 200px;
$sprite_loop_image = 'sprite.png';
$sprite_loop = 88px 124px -88px -124px 20px 20px 260px 200px 'sprite.png' 'sprite-loop';
$sprite_marker_name = 'sprite-marker';
$sprite_marker_x = 0px;
$sprite_marker_y = 95px;
$sprite_marker_offset_x = 0px;
$sprite_marker_offset_y = -95px;
$sprite_marker_width = 34px;
$sprite_marker_height = 51px;
$sprite_marker_total_width = 260px;
$sprite_marker_total_height = 200px;
$sprite_marker_image = 'sprite.png';
$sprite_marker = 0px 95px 0px -95px 34px 51px 260px 200px 'sprite.png' 'sprite-marker';
$sprite_metor_name = 'sprite-metor';
$sprite_metor_x = 212px;
$sprite_metor_y = 124px;
$sprite_metor_offset_x = -212px;
$sprite_metor_offset_y = -124px;
$sprite_metor_width = 18px;
$sprite_metor_height = 12px;
$sprite_metor_total_width = 260px;
$sprite_metor_total_height = 200px;
$sprite_metor_image = 'sprite.png';
$sprite_metor = 212px 124px -212px -124px 18px 12px 260px 200px 'sprite.png' 'sprite-metor';
$sprite_mhover_name = 'sprite-mhover';
$sprite_mhover_x = 194px;
$sprite_mhover_y = 124px;
$sprite_mhover_offset_x = -194px;
$sprite_mhover_offset_y = -124px;
$sprite_mhover_width = 18px;
$sprite_mhover_height = 12px;
$sprite_mhover_total_width = 260px;
$sprite_mhover_total_height = 200px;
$sprite_mhover_image = 'sprite.png';
$sprite_mhover = 194px 124px -194px -124px 18px 12px 260px 200px 'sprite.png' 'sprite-mhover';
$sprite_mwhite_name = 'sprite-mwhite';
$sprite_mwhite_x = 176px;
$sprite_mwhite_y = 124px;
$sprite_mwhite_offset_x = -176px;
$sprite_mwhite_offset_y = -124px;
$sprite_mwhite_width = 18px;
$sprite_mwhite_height = 12px;
$sprite_mwhite_total_width = 260px;
$sprite_mwhite_total_height = 200px;
$sprite_mwhite_image = 'sprite.png';
$sprite_mwhite = 176px 124px -176px -124px 18px 12px 260px 200px 'sprite.png' 'sprite-mwhite';
$sprite_newp_name = 'sprite-newp';
$sprite_newp_x = 230px;
$sprite_newp_y = 95px;
$sprite_newp_offset_x = -230px;
$sprite_newp_offset_y = -95px;
$sprite_newp_width = 23px;
$sprite_newp_height = 23px;
$sprite_newp_total_width = 260px;
$sprite_newp_total_height = 200px;
$sprite_newp_image = 'sprite.png';
$sprite_newp = 230px 95px -230px -95px 23px 23px 260px 200px 'sprite.png' 'sprite-newp';
$sprite_orange_name = 'sprite-orange';
$sprite_orange_x = 116px;
$sprite_orange_y = 95px;
$sprite_orange_offset_x = -116px;
$sprite_orange_offset_y = -95px;
$sprite_orange_width = 48px;
$sprite_orange_height = 29px;
$sprite_orange_total_width = 260px;
$sprite_orange_total_height = 200px;
$sprite_orange_image = 'sprite.png';
$sprite_orange = 116px 95px -116px -95px 48px 29px 260px 200px 'sprite.png' 'sprite-orange';
$sprite_photo_name = 'sprite-photo';
$sprite_photo_x = 181px;
$sprite_photo_y = 146px;
$sprite_photo_offset_x = -181px;
$sprite_photo_offset_y = -146px;
$sprite_photo_width = 18px;
$sprite_photo_height = 14px;
$sprite_photo_total_width = 260px;
$sprite_photo_total_height = 200px;
$sprite_photo_image = 'sprite.png';
$sprite_photo = 181px 146px -181px -146px 18px 14px 260px 200px 'sprite.png' 'sprite-photo';
$sprite_phover_name = 'sprite-phover';
$sprite_phover_x = 247px;
$sprite_phover_y = 146px;
$sprite_phover_offset_x = -247px;
$sprite_phover_offset_y = -146px;
$sprite_phover_width = 13px;
$sprite_phover_height = 13px;
$sprite_phover_total_width = 260px;
$sprite_phover_total_height = 200px;
$sprite_phover_image = 'sprite.png';
$sprite_phover = 247px 146px -247px -146px 13px 13px 260px 200px 'sprite.png' 'sprite-phover';
$sprite_pin_name = 'sprite-pin';
$sprite_pin_x = 145px;
$sprite_pin_y = 146px;
$sprite_pin_offset_x = -145px;
$sprite_pin_offset_y = -146px;
$sprite_pin_width = 18px;
$sprite_pin_height = 16px;
$sprite_pin_total_width = 260px;
$sprite_pin_total_height = 200px;
$sprite_pin_image = 'sprite.png';
$sprite_pin = 145px 146px -145px -146px 18px 16px 260px 200px 'sprite.png' 'sprite-pin';
$sprite_plitka_name = 'sprite-plitka';
$sprite_plitka_x = 0px;
$sprite_plitka_y = 187px;
$sprite_plitka_offset_x = 0px;
$sprite_plitka_offset_y = -187px;
$sprite_plitka_width = 13px;
$sprite_plitka_height = 13px;
$sprite_plitka_total_width = 260px;
$sprite_plitka_total_height = 200px;
$sprite_plitka_image = 'sprite.png';
$sprite_plitka = 0px 187px 0px -187px 13px 13px 260px 200px 'sprite.png' 'sprite-plitka';
$sprite_remove_name = 'sprite-remove';
$sprite_remove_x = 28px;
$sprite_remove_y = 146px;
$sprite_remove_offset_x = -28px;
$sprite_remove_offset_y = -146px;
$sprite_remove_width = 28px;
$sprite_remove_height = 27px;
$sprite_remove_total_width = 260px;
$sprite_remove_total_height = 200px;
$sprite_remove_image = 'sprite.png';
$sprite_remove = 28px 146px -28px -146px 28px 27px 260px 200px 'sprite.png' 'sprite-remove';
$sprite_ru_name = 'sprite-ru';
$sprite_ru_x = 128px;
$sprite_ru_y = 124px;
$sprite_ru_offset_x = -128px;
$sprite_ru_offset_y = -124px;
$sprite_ru_width = 22px;
$sprite_ru_height = 17px;
$sprite_ru_total_width = 260px;
$sprite_ru_total_height = 200px;
$sprite_ru_image = 'sprite.png';
$sprite_ru = 128px 124px -128px -124px 22px 17px 260px 200px 'sprite.png' 'sprite-ru';
$sprite_search_name = 'sprite-search';
$sprite_search_x = 81px;
$sprite_search_y = 146px;
$sprite_search_offset_x = -81px;
$sprite_search_offset_y = -146px;
$sprite_search_width = 25px;
$sprite_search_height = 25px;
$sprite_search_total_width = 260px;
$sprite_search_total_height = 200px;
$sprite_search_image = 'sprite.png';
$sprite_search = 81px 146px -81px -146px 25px 25px 260px 200px 'sprite.png' 'sprite-search';
$sprite_shover_name = 'sprite-shover';
$sprite_shover_x = 56px;
$sprite_shover_y = 146px;
$sprite_shover_offset_x = -56px;
$sprite_shover_offset_y = -146px;
$sprite_shover_width = 25px;
$sprite_shover_height = 25px;
$sprite_shover_total_width = 260px;
$sprite_shover_total_height = 200px;
$sprite_shover_image = 'sprite.png';
$sprite_shover = 56px 146px -56px -146px 25px 25px 260px 200px 'sprite.png' 'sprite-shover';
$sprite_star_name = 'sprite-star';
$sprite_star_x = 0px;
$sprite_star_y = 146px;
$sprite_star_offset_x = 0px;
$sprite_star_offset_y = -146px;
$sprite_star_width = 28px;
$sprite_star_height = 27px;
$sprite_star_total_width = 260px;
$sprite_star_total_height = 200px;
$sprite_star_image = 'sprite.png';
$sprite_star = 0px 146px 0px -146px 28px 27px 260px 200px 'sprite.png' 'sprite-star';
$sprite_userpic_name = 'sprite-userpic';
$sprite_userpic_x = 106px;
$sprite_userpic_y = 146px;
$sprite_userpic_offset_x = -106px;
$sprite_userpic_offset_y = -146px;
$sprite_userpic_width = 25px;
$sprite_userpic_height = 25px;
$sprite_userpic_total_width = 260px;
$sprite_userpic_total_height = 200px;
$sprite_userpic_image = 'sprite.png';
$sprite_userpic = 106px 146px -106px -146px 25px 25px 260px 200px 'sprite.png' 'sprite-userpic';
$sprite_ac_2x_name = 'sprite-ac-2x';
$sprite_ac_2x_x = 470px;
$sprite_ac_2x_y = 104px;
$sprite_ac_2x_offset_x = -470px;
$sprite_ac_2x_offset_y = -104px;
$sprite_ac_2x_width = 50px;
$sprite_ac_2x_height = 50px;
$sprite_ac_2x_total_width = 520px;
$sprite_ac_2x_total_height = 400px;
$sprite_ac_2x_image = 'sprite-2x.png';
$sprite_ac_2x = 470px 104px -470px -104px 50px 50px 520px 400px 'sprite-2x.png' 'sprite-ac-2x';
$sprite_active_2x_name = 'sprite-active-2x';
$sprite_active_2x_x = 136px;
$sprite_active_2x_y = 248px;
$sprite_active_2x_offset_x = -136px;
$sprite_active_2x_offset_y = -248px;
$sprite_active_2x_width = 40px;
$sprite_active_2x_height = 40px;
$sprite_active_2x_total_width = 520px;
$sprite_active_2x_total_height = 400px;
$sprite_active_2x_image = 'sprite-2x.png';
$sprite_active_2x = 136px 248px -136px -248px 40px 40px 520px 400px 'sprite-2x.png' 'sprite-active-2x';
$sprite_bclose_2x_name = 'sprite-bclose-2x';
$sprite_bclose_2x_x = 0px;
$sprite_bclose_2x_y = 346px;
$sprite_bclose_2x_offset_x = 0px;
$sprite_bclose_2x_offset_y = -346px;
$sprite_bclose_2x_width = 28px;
$sprite_bclose_2x_height = 28px;
$sprite_bclose_2x_total_width = 520px;
$sprite_bclose_2x_total_height = 400px;
$sprite_bclose_2x_image = 'sprite-2x.png';
$sprite_bclose_2x = 0px 346px 0px -346px 28px 28px 520px 400px 'sprite-2x.png' 'sprite-bclose-2x';
$sprite_bigcrown_2x_name = 'sprite-bigcrown-2x';
$sprite_bigcrown_2x_x = 136px;
$sprite_bigcrown_2x_y = 190px;
$sprite_bigcrown_2x_offset_x = -136px;
$sprite_bigcrown_2x_offset_y = -190px;
$sprite_bigcrown_2x_width = 96px;
$sprite_bigcrown_2x_height = 58px;
$sprite_bigcrown_2x_total_width = 520px;
$sprite_bigcrown_2x_total_height = 400px;
$sprite_bigcrown_2x_image = 'sprite-2x.png';
$sprite_bigcrown_2x = 136px 190px -136px -190px 96px 58px 520px 400px 'sprite-2x.png' 'sprite-bigcrown-2x';
$sprite_bigpin_2x_name = 'sprite-bigpin-2x';
$sprite_bigpin_2x_x = 408px;
$sprite_bigpin_2x_y = 190px;
$sprite_bigpin_2x_offset_x = -408px;
$sprite_bigpin_2x_offset_y = -190px;
$sprite_bigpin_2x_width = 52px;
$sprite_bigpin_2x_height = 46px;
$sprite_bigpin_2x_total_width = 520px;
$sprite_bigpin_2x_total_height = 400px;
$sprite_bigpin_2x_image = 'sprite-2x.png';
$sprite_bigpin_2x = 408px 190px -408px -190px 52px 46px 520px 400px 'sprite-2x.png' 'sprite-bigpin-2x';
$sprite_building_2x_name = 'sprite-building-2x';
$sprite_building_2x_x = 262px;
$sprite_building_2x_y = 292px;
$sprite_building_2x_offset_x = -262px;
$sprite_building_2x_offset_y = -292px;
$sprite_building_2x_width = 28px;
$sprite_building_2x_height = 46px;
$sprite_building_2x_total_width = 520px;
$sprite_building_2x_total_height = 400px;
$sprite_building_2x_image = 'sprite-2x.png';
$sprite_building_2x = 262px 292px -262px -292px 28px 46px 520px 400px 'sprite-2x.png' 'sprite-building-2x';
$sprite_car_2x_name = 'sprite-car-2x';
$sprite_car_2x_x = 300px;
$sprite_car_2x_y = 248px;
$sprite_car_2x_offset_x = -300px;
$sprite_car_2x_offset_y = -248px;
$sprite_car_2x_width = 52px;
$sprite_car_2x_height = 26px;
$sprite_car_2x_total_width = 520px;
$sprite_car_2x_total_height = 400px;
$sprite_car_2x_image = 'sprite-2x.png';
$sprite_car_2x = 300px 248px -300px -248px 52px 26px 520px 400px 'sprite-2x.png' 'sprite-car-2x';
$sprite_chat_2x_name = 'sprite-chat-2x';
$sprite_chat_2x_x = 398px;
$sprite_chat_2x_y = 292px;
$sprite_chat_2x_offset_x = -398px;
$sprite_chat_2x_offset_y = -292px;
$sprite_chat_2x_width = 32px;
$sprite_chat_2x_height = 28px;
$sprite_chat_2x_total_width = 520px;
$sprite_chat_2x_total_height = 400px;
$sprite_chat_2x_image = 'sprite-2x.png';
$sprite_chat_2x = 398px 292px -398px -292px 32px 28px 520px 400px 'sprite-2x.png' 'sprite-chat-2x';
$sprite_close_2x_name = 'sprite-close-2x';
$sprite_close_2x_x = 216px;
$sprite_close_2x_y = 248px;
$sprite_close_2x_offset_x = -216px;
$sprite_close_2x_offset_y = -248px;
$sprite_close_2x_width = 40px;
$sprite_close_2x_height = 40px;
$sprite_close_2x_total_width = 520px;
$sprite_close_2x_total_height = 400px;
$sprite_close_2x_image = 'sprite-2x.png';
$sprite_close_2x = 216px 248px -216px -248px 40px 40px 520px 400px 'sprite-2x.png' 'sprite-close-2x';
$sprite_crown_2x_name = 'sprite-crown-2x';
$sprite_crown_2x_x = 328px;
$sprite_crown_2x_y = 190px;
$sprite_crown_2x_offset_x = -328px;
$sprite_crown_2x_offset_y = -190px;
$sprite_crown_2x_width = 80px;
$sprite_crown_2x_height = 48px;
$sprite_crown_2x_total_width = 520px;
$sprite_crown_2x_total_height = 400px;
$sprite_crown_2x_image = 'sprite-2x.png';
$sprite_crown_2x = 328px 190px -328px -190px 80px 48px 520px 400px 'sprite-2x.png' 'sprite-crown-2x';
$sprite_eng_2x_name = 'sprite-eng-2x';
$sprite_eng_2x_x = 470px;
$sprite_eng_2x_y = 154px;
$sprite_eng_2x_offset_x = -470px;
$sprite_eng_2x_offset_y = -154px;
$sprite_eng_2x_width = 44px;
$sprite_eng_2x_height = 34px;
$sprite_eng_2x_total_width = 520px;
$sprite_eng_2x_total_height = 400px;
$sprite_eng_2x_image = 'sprite-2x.png';
$sprite_eng_2x = 470px 154px -470px -154px 44px 34px 520px 400px 'sprite-2x.png' 'sprite-eng-2x';
$sprite_fhover_2x_name = 'sprite-fhover-2x';
$sprite_fhover_2x_x = 462px;
$sprite_fhover_2x_y = 292px;
$sprite_fhover_2x_offset_x = -462px;
$sprite_fhover_2x_offset_y = -292px;
$sprite_fhover_2x_width = 32px;
$sprite_fhover_2x_height = 26px;
$sprite_fhover_2x_total_width = 520px;
$sprite_fhover_2x_total_height = 400px;
$sprite_fhover_2x_image = 'sprite-2x.png';
$sprite_fhover_2x = 462px 292px -462px -292px 32px 26px 520px 400px 'sprite-2x.png' 'sprite-fhover-2x';
$sprite_footer_2x_name = 'sprite-footer-2x';
$sprite_footer_2x_x = 0px;
$sprite_footer_2x_y = 0px;
$sprite_footer_2x_offset_x = 0px;
$sprite_footer_2x_offset_y = 0px;
$sprite_footer_2x_width = 520px;
$sprite_footer_2x_height = 104px;
$sprite_footer_2x_total_width = 520px;
$sprite_footer_2x_total_height = 400px;
$sprite_footer_2x_image = 'sprite-2x.png';
$sprite_footer_2x = 0px 0px 0px 0px 520px 104px 520px 400px 'sprite-2x.png' 'sprite-footer-2x';
$sprite_frame_2x_name = 'sprite-frame-2x';
$sprite_frame_2x_x = 430px;
$sprite_frame_2x_y = 292px;
$sprite_frame_2x_offset_x = -430px;
$sprite_frame_2x_offset_y = -292px;
$sprite_frame_2x_width = 32px;
$sprite_frame_2x_height = 26px;
$sprite_frame_2x_total_width = 520px;
$sprite_frame_2x_total_height = 400px;
$sprite_frame_2x_image = 'sprite-2x.png';
$sprite_frame_2x = 430px 292px -430px -292px 32px 26px 520px 400px 'sprite-2x.png' 'sprite-frame-2x';
$sprite_gok_2x_name = 'sprite-gok-2x';
$sprite_gok_2x_x = 326px;
$sprite_gok_2x_y = 292px;
$sprite_gok_2x_offset_x = -326px;
$sprite_gok_2x_offset_y = -292px;
$sprite_gok_2x_width = 36px;
$sprite_gok_2x_height = 28px;
$sprite_gok_2x_total_width = 520px;
$sprite_gok_2x_total_height = 400px;
$sprite_gok_2x_image = 'sprite-2x.png';
$sprite_gok_2x = 326px 292px -326px -292px 36px 28px 520px 400px 'sprite-2x.png' 'sprite-gok-2x';
$sprite_home_2x_name = 'sprite-home-2x';
$sprite_home_2x_x = 68px;
$sprite_home_2x_y = 190px;
$sprite_home_2x_offset_x = -68px;
$sprite_home_2x_offset_y = -190px;
$sprite_home_2x_width = 68px;
$sprite_home_2x_height = 102px;
$sprite_home_2x_total_width = 520px;
$sprite_home_2x_total_height = 400px;
$sprite_home_2x_image = 'sprite-2x.png';
$sprite_home_2x = 68px 190px -68px -190px 68px 102px 520px 400px 'sprite-2x.png' 'sprite-home-2x';
$sprite_lhover_2x_name = 'sprite-lhover-2x';
$sprite_lhover_2x_x = 460px;
$sprite_lhover_2x_y = 248px;
$sprite_lhover_2x_offset_x = -460px;
$sprite_lhover_2x_offset_y = -248px;
$sprite_lhover_2x_width = 32px;
$sprite_lhover_2x_height = 24px;
$sprite_lhover_2x_total_width = 520px;
$sprite_lhover_2x_total_height = 400px;
$sprite_lhover_2x_image = 'sprite-2x.png';
$sprite_lhover_2x = 460px 248px -460px -248px 32px 24px 520px 400px 'sprite-2x.png' 'sprite-lhover-2x';
$sprite_list_2x_name = 'sprite-list-2x';
$sprite_list_2x_x = 28px;
$sprite_list_2x_y = 346px;
$sprite_list_2x_offset_x = -28px;
$sprite_list_2x_offset_y = -346px;
$sprite_list_2x_width = 32px;
$sprite_list_2x_height = 24px;
$sprite_list_2x_total_width = 520px;
$sprite_list_2x_total_height = 400px;
$sprite_list_2x_image = 'sprite-2x.png';
$sprite_list_2x = 28px 346px -28px -346px 32px 24px 520px 400px 'sprite-2x.png' 'sprite-list-2x';
$sprite_logo_2x_name = 'sprite-logo-2x';
$sprite_logo_2x_x = 0px;
$sprite_logo_2x_y = 104px;
$sprite_logo_2x_offset_x = 0px;
$sprite_logo_2x_offset_y = -104px;
$sprite_logo_2x_width = 470px;
$sprite_logo_2x_height = 86px;
$sprite_logo_2x_total_width = 520px;
$sprite_logo_2x_total_height = 400px;
$sprite_logo_2x_image = 'sprite-2x.png';
$sprite_logo_2x = 0px 104px 0px -104px 470px 86px 520px 400px 'sprite-2x.png' 'sprite-logo-2x';
$sprite_loop_2x_name = 'sprite-loop-2x';
$sprite_loop_2x_x = 176px;
$sprite_loop_2x_y = 248px;
$sprite_loop_2x_offset_x = -176px;
$sprite_loop_2x_offset_y = -248px;
$sprite_loop_2x_width = 40px;
$sprite_loop_2x_height = 40px;
$sprite_loop_2x_total_width = 520px;
$sprite_loop_2x_total_height = 400px;
$sprite_loop_2x_image = 'sprite-2x.png';
$sprite_loop_2x = 176px 248px -176px -248px 40px 40px 520px 400px 'sprite-2x.png' 'sprite-loop-2x';
$sprite_marker_2x_name = 'sprite-marker-2x';
$sprite_marker_2x_x = 0px;
$sprite_marker_2x_y = 190px;
$sprite_marker_2x_offset_x = 0px;
$sprite_marker_2x_offset_y = -190px;
$sprite_marker_2x_width = 68px;
$sprite_marker_2x_height = 102px;
$sprite_marker_2x_total_width = 520px;
$sprite_marker_2x_total_height = 400px;
$sprite_marker_2x_image = 'sprite-2x.png';
$sprite_marker_2x = 0px 190px 0px -190px 68px 102px 520px 400px 'sprite-2x.png' 'sprite-marker-2x';
$sprite_metor_2x_name = 'sprite-metor-2x';
$sprite_metor_2x_x = 424px;
$sprite_metor_2x_y = 248px;
$sprite_metor_2x_offset_x = -424px;
$sprite_metor_2x_offset_y = -248px;
$sprite_metor_2x_width = 36px;
$sprite_metor_2x_height = 24px;
$sprite_metor_2x_total_width = 520px;
$sprite_metor_2x_total_height = 400px;
$sprite_metor_2x_image = 'sprite-2x.png';
$sprite_metor_2x = 424px 248px -424px -248px 36px 24px 520px 400px 'sprite-2x.png' 'sprite-metor-2x';
$sprite_mhover_2x_name = 'sprite-mhover-2x';
$sprite_mhover_2x_x = 388px;
$sprite_mhover_2x_y = 248px;
$sprite_mhover_2x_offset_x = -388px;
$sprite_mhover_2x_offset_y = -248px;
$sprite_mhover_2x_width = 36px;
$sprite_mhover_2x_height = 24px;
$sprite_mhover_2x_total_width = 520px;
$sprite_mhover_2x_total_height = 400px;
$sprite_mhover_2x_image = 'sprite-2x.png';
$sprite_mhover_2x = 388px 248px -388px -248px 36px 24px 520px 400px 'sprite-2x.png' 'sprite-mhover-2x';
$sprite_mwhite_2x_name = 'sprite-mwhite-2x';
$sprite_mwhite_2x_x = 352px;
$sprite_mwhite_2x_y = 248px;
$sprite_mwhite_2x_offset_x = -352px;
$sprite_mwhite_2x_offset_y = -248px;
$sprite_mwhite_2x_width = 36px;
$sprite_mwhite_2x_height = 24px;
$sprite_mwhite_2x_total_width = 520px;
$sprite_mwhite_2x_total_height = 400px;
$sprite_mwhite_2x_image = 'sprite-2x.png';
$sprite_mwhite_2x = 352px 248px -352px -248px 36px 24px 520px 400px 'sprite-2x.png' 'sprite-mwhite-2x';
$sprite_newp_2x_name = 'sprite-newp-2x';
$sprite_newp_2x_x = 460px;
$sprite_newp_2x_y = 190px;
$sprite_newp_2x_offset_x = -460px;
$sprite_newp_2x_offset_y = -190px;
$sprite_newp_2x_width = 46px;
$sprite_newp_2x_height = 46px;
$sprite_newp_2x_total_width = 520px;
$sprite_newp_2x_total_height = 400px;
$sprite_newp_2x_image = 'sprite-2x.png';
$sprite_newp_2x = 460px 190px -460px -190px 46px 46px 520px 400px 'sprite-2x.png' 'sprite-newp-2x';
$sprite_orange_2x_name = 'sprite-orange-2x';
$sprite_orange_2x_x = 232px;
$sprite_orange_2x_y = 190px;
$sprite_orange_2x_offset_x = -232px;
$sprite_orange_2x_offset_y = -190px;
$sprite_orange_2x_width = 96px;
$sprite_orange_2x_height = 58px;
$sprite_orange_2x_total_width = 520px;
$sprite_orange_2x_total_height = 400px;
$sprite_orange_2x_image = 'sprite-2x.png';
$sprite_orange_2x = 232px 190px -232px -190px 96px 58px 520px 400px 'sprite-2x.png' 'sprite-orange-2x';
$sprite_photo_2x_name = 'sprite-photo-2x';
$sprite_photo_2x_x = 362px;
$sprite_photo_2x_y = 292px;
$sprite_photo_2x_offset_x = -362px;
$sprite_photo_2x_offset_y = -292px;
$sprite_photo_2x_width = 36px;
$sprite_photo_2x_height = 28px;
$sprite_photo_2x_total_width = 520px;
$sprite_photo_2x_total_height = 400px;
$sprite_photo_2x_image = 'sprite-2x.png';
$sprite_photo_2x = 362px 292px -362px -292px 36px 28px 520px 400px 'sprite-2x.png' 'sprite-photo-2x';
$sprite_phover_2x_name = 'sprite-phover-2x';
$sprite_phover_2x_x = 494px;
$sprite_phover_2x_y = 292px;
$sprite_phover_2x_offset_x = -494px;
$sprite_phover_2x_offset_y = -292px;
$sprite_phover_2x_width = 26px;
$sprite_phover_2x_height = 26px;
$sprite_phover_2x_total_width = 520px;
$sprite_phover_2x_total_height = 400px;
$sprite_phover_2x_image = 'sprite-2x.png';
$sprite_phover_2x = 494px 292px -494px -292px 26px 26px 520px 400px 'sprite-2x.png' 'sprite-phover-2x';
$sprite_pin_2x_name = 'sprite-pin-2x';
$sprite_pin_2x_x = 290px;
$sprite_pin_2x_y = 292px;
$sprite_pin_2x_offset_x = -290px;
$sprite_pin_2x_offset_y = -292px;
$sprite_pin_2x_width = 36px;
$sprite_pin_2x_height = 32px;
$sprite_pin_2x_total_width = 520px;
$sprite_pin_2x_total_height = 400px;
$sprite_pin_2x_image = 'sprite-2x.png';
$sprite_pin_2x = 290px 292px -290px -292px 36px 32px 520px 400px 'sprite-2x.png' 'sprite-pin-2x';
$sprite_pritka_2x_name = 'sprite-pritka-2x';
$sprite_pritka_2x_x = 0px;
$sprite_pritka_2x_y = 374px;
$sprite_pritka_2x_offset_x = 0px;
$sprite_pritka_2x_offset_y = -374px;
$sprite_pritka_2x_width = 26px;
$sprite_pritka_2x_height = 26px;
$sprite_pritka_2x_total_width = 520px;
$sprite_pritka_2x_total_height = 400px;
$sprite_pritka_2x_image = 'sprite-2x.png';
$sprite_pritka_2x = 0px 374px 0px -374px 26px 26px 520px 400px 'sprite-2x.png' 'sprite-pritka-2x';
$sprite_remove_2x_name = 'sprite-remove-2x';
$sprite_remove_2x_x = 56px;
$sprite_remove_2x_y = 292px;
$sprite_remove_2x_offset_x = -56px;
$sprite_remove_2x_offset_y = -292px;
$sprite_remove_2x_width = 56px;
$sprite_remove_2x_height = 54px;
$sprite_remove_2x_total_width = 520px;
$sprite_remove_2x_total_height = 400px;
$sprite_remove_2x_image = 'sprite-2x.png';
$sprite_remove_2x = 56px 292px -56px -292px 56px 54px 520px 400px 'sprite-2x.png' 'sprite-remove-2x';
$sprite_ru_2x_name = 'sprite-ru-2x';
$sprite_ru_2x_x = 256px;
$sprite_ru_2x_y = 248px;
$sprite_ru_2x_offset_x = -256px;
$sprite_ru_2x_offset_y = -248px;
$sprite_ru_2x_width = 44px;
$sprite_ru_2x_height = 34px;
$sprite_ru_2x_total_width = 520px;
$sprite_ru_2x_total_height = 400px;
$sprite_ru_2x_image = 'sprite-2x.png';
$sprite_ru_2x = 256px 248px -256px -248px 44px 34px 520px 400px 'sprite-2x.png' 'sprite-ru-2x';
$sprite_search_2x_name = 'sprite-search-2x';
$sprite_search_2x_x = 162px;
$sprite_search_2x_y = 292px;
$sprite_search_2x_offset_x = -162px;
$sprite_search_2x_offset_y = -292px;
$sprite_search_2x_width = 50px;
$sprite_search_2x_height = 50px;
$sprite_search_2x_total_width = 520px;
$sprite_search_2x_total_height = 400px;
$sprite_search_2x_image = 'sprite-2x.png';
$sprite_search_2x = 162px 292px -162px -292px 50px 50px 520px 400px 'sprite-2x.png' 'sprite-search-2x';
$sprite_shover_2x_name = 'sprite-shover-2x';
$sprite_shover_2x_x = 112px;
$sprite_shover_2x_y = 292px;
$sprite_shover_2x_offset_x = -112px;
$sprite_shover_2x_offset_y = -292px;
$sprite_shover_2x_width = 50px;
$sprite_shover_2x_height = 50px;
$sprite_shover_2x_total_width = 520px;
$sprite_shover_2x_total_height = 400px;
$sprite_shover_2x_image = 'sprite-2x.png';
$sprite_shover_2x = 112px 292px -112px -292px 50px 50px 520px 400px 'sprite-2x.png' 'sprite-shover-2x';
$sprite_star_2x_name = 'sprite-star-2x';
$sprite_star_2x_x = 0px;
$sprite_star_2x_y = 292px;
$sprite_star_2x_offset_x = 0px;
$sprite_star_2x_offset_y = -292px;
$sprite_star_2x_width = 56px;
$sprite_star_2x_height = 54px;
$sprite_star_2x_total_width = 520px;
$sprite_star_2x_total_height = 400px;
$sprite_star_2x_image = 'sprite-2x.png';
$sprite_star_2x = 0px 292px 0px -292px 56px 54px 520px 400px 'sprite-2x.png' 'sprite-star-2x';
$sprite_userpic_2x_name = 'sprite-userpic-2x';
$sprite_userpic_2x_x = 212px;
$sprite_userpic_2x_y = 292px;
$sprite_userpic_2x_offset_x = -212px;
$sprite_userpic_2x_offset_y = -292px;
$sprite_userpic_2x_width = 50px;
$sprite_userpic_2x_height = 50px;
$sprite_userpic_2x_total_width = 520px;
$sprite_userpic_2x_total_height = 400px;
$sprite_userpic_2x_image = 'sprite-2x.png';
$sprite_userpic_2x = 212px 292px -212px -292px 50px 50px 520px 400px 'sprite-2x.png' 'sprite-userpic-2x';
$spritesheet_width = 260px;
$spritesheet_height = 200px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $sprite_ac $sprite_active $sprite_bclose $sprite_bigcrown $sprite_bigpin $sprite_building $sprite_car $sprite_chat $sprite_close $sprite_crown $sprite_eng $sprite_fhover $sprite_footer $sprite_frame $sprite_gok $sprite_home $sprite_lhover $sprite_list $sprite_logo $sprite_loop $sprite_marker $sprite_metor $sprite_mhover $sprite_mwhite $sprite_newp $sprite_orange $sprite_photo $sprite_phover $sprite_pin $sprite_plitka $sprite_remove $sprite_ru $sprite_search $sprite_shover $sprite_star $sprite_userpic;
$spritesheet = 260px 200px 'sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 520px;
$retina_spritesheet_height = 400px;
$retina_spritesheet_image = 'sprite-2x.png';
$retina_spritesheet_sprites = $sprite_ac_2x $sprite_active_2x $sprite_bclose_2x $sprite_bigcrown_2x $sprite_bigpin_2x $sprite_building_2x $sprite_car_2x $sprite_chat_2x $sprite_close_2x $sprite_crown_2x $sprite_eng_2x $sprite_fhover_2x $sprite_footer_2x $sprite_frame_2x $sprite_gok_2x $sprite_home_2x $sprite_lhover_2x $sprite_list_2x $sprite_logo_2x $sprite_loop_2x $sprite_marker_2x $sprite_metor_2x $sprite_mhover_2x $sprite_mwhite_2x $sprite_newp_2x $sprite_orange_2x $sprite_photo_2x $sprite_phover_2x $sprite_pin_2x $sprite_pritka_2x $sprite_remove_2x $sprite_ru_2x $sprite_search_2x $sprite_shover_2x $sprite_star_2x $sprite_userpic_2x;
$retina_spritesheet = 520px 400px 'sprite-2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$sprite_ac_group_name = 'sprite-ac';
$sprite_ac_group = 'sprite-ac' $sprite_ac $sprite_ac_2x;
$sprite_active_group_name = 'sprite-active';
$sprite_active_group = 'sprite-active' $sprite_active $sprite_active_2x;
$sprite_bclose_group_name = 'sprite-bclose';
$sprite_bclose_group = 'sprite-bclose' $sprite_bclose $sprite_bclose_2x;
$sprite_bigcrown_group_name = 'sprite-bigcrown';
$sprite_bigcrown_group = 'sprite-bigcrown' $sprite_bigcrown $sprite_bigcrown_2x;
$sprite_bigpin_group_name = 'sprite-bigpin';
$sprite_bigpin_group = 'sprite-bigpin' $sprite_bigpin $sprite_bigpin_2x;
$sprite_building_group_name = 'sprite-building';
$sprite_building_group = 'sprite-building' $sprite_building $sprite_building_2x;
$sprite_car_group_name = 'sprite-car';
$sprite_car_group = 'sprite-car' $sprite_car $sprite_car_2x;
$sprite_chat_group_name = 'sprite-chat';
$sprite_chat_group = 'sprite-chat' $sprite_chat $sprite_chat_2x;
$sprite_close_group_name = 'sprite-close';
$sprite_close_group = 'sprite-close' $sprite_close $sprite_close_2x;
$sprite_crown_group_name = 'sprite-crown';
$sprite_crown_group = 'sprite-crown' $sprite_crown $sprite_crown_2x;
$sprite_eng_group_name = 'sprite-eng';
$sprite_eng_group = 'sprite-eng' $sprite_eng $sprite_eng_2x;
$sprite_fhover_group_name = 'sprite-fhover';
$sprite_fhover_group = 'sprite-fhover' $sprite_fhover $sprite_fhover_2x;
$sprite_footer_group_name = 'sprite-footer';
$sprite_footer_group = 'sprite-footer' $sprite_footer $sprite_footer_2x;
$sprite_frame_group_name = 'sprite-frame';
$sprite_frame_group = 'sprite-frame' $sprite_frame $sprite_frame_2x;
$sprite_gok_group_name = 'sprite-gok';
$sprite_gok_group = 'sprite-gok' $sprite_gok $sprite_gok_2x;
$sprite_home_group_name = 'sprite-home';
$sprite_home_group = 'sprite-home' $sprite_home $sprite_home_2x;
$sprite_lhover_group_name = 'sprite-lhover';
$sprite_lhover_group = 'sprite-lhover' $sprite_lhover $sprite_lhover_2x;
$sprite_list_group_name = 'sprite-list';
$sprite_list_group = 'sprite-list' $sprite_list $sprite_list_2x;
$sprite_logo_group_name = 'sprite-logo';
$sprite_logo_group = 'sprite-logo' $sprite_logo $sprite_logo_2x;
$sprite_loop_group_name = 'sprite-loop';
$sprite_loop_group = 'sprite-loop' $sprite_loop $sprite_loop_2x;
$sprite_marker_group_name = 'sprite-marker';
$sprite_marker_group = 'sprite-marker' $sprite_marker $sprite_marker_2x;
$sprite_metor_group_name = 'sprite-metor';
$sprite_metor_group = 'sprite-metor' $sprite_metor $sprite_metor_2x;
$sprite_mhover_group_name = 'sprite-mhover';
$sprite_mhover_group = 'sprite-mhover' $sprite_mhover $sprite_mhover_2x;
$sprite_mwhite_group_name = 'sprite-mwhite';
$sprite_mwhite_group = 'sprite-mwhite' $sprite_mwhite $sprite_mwhite_2x;
$sprite_newp_group_name = 'sprite-newp';
$sprite_newp_group = 'sprite-newp' $sprite_newp $sprite_newp_2x;
$sprite_orange_group_name = 'sprite-orange';
$sprite_orange_group = 'sprite-orange' $sprite_orange $sprite_orange_2x;
$sprite_photo_group_name = 'sprite-photo';
$sprite_photo_group = 'sprite-photo' $sprite_photo $sprite_photo_2x;
$sprite_phover_group_name = 'sprite-phover';
$sprite_phover_group = 'sprite-phover' $sprite_phover $sprite_phover_2x;
$sprite_pin_group_name = 'sprite-pin';
$sprite_pin_group = 'sprite-pin' $sprite_pin $sprite_pin_2x;
$sprite_plitka_group_name = 'sprite-plitka';
$sprite_plitka_group = 'sprite-plitka' $sprite_plitka $sprite_pritka_2x;
$sprite_remove_group_name = 'sprite-remove';
$sprite_remove_group = 'sprite-remove' $sprite_remove $sprite_remove_2x;
$sprite_ru_group_name = 'sprite-ru';
$sprite_ru_group = 'sprite-ru' $sprite_ru $sprite_ru_2x;
$sprite_search_group_name = 'sprite-search';
$sprite_search_group = 'sprite-search' $sprite_search $sprite_search_2x;
$sprite_shover_group_name = 'sprite-shover';
$sprite_shover_group = 'sprite-shover' $sprite_shover $sprite_shover_2x;
$sprite_star_group_name = 'sprite-star';
$sprite_star_group = 'sprite-star' $sprite_star $sprite_star_2x;
$sprite_userpic_group_name = 'sprite-userpic';
$sprite_userpic_group = 'sprite-userpic' $sprite_userpic $sprite_userpic_2x;
$retina_groups = $sprite_ac_group $sprite_active_group $sprite_bclose_group $sprite_bigcrown_group $sprite_bigpin_group $sprite_building_group $sprite_car_group $sprite_chat_group $sprite_close_group $sprite_crown_group $sprite_eng_group $sprite_fhover_group $sprite_footer_group $sprite_frame_group $sprite_gok_group $sprite_home_group $sprite_lhover_group $sprite_list_group $sprite_logo_group $sprite_loop_group $sprite_marker_group $sprite_metor_group $sprite_mhover_group $sprite_mwhite_group $sprite_newp_group $sprite_orange_group $sprite_photo_group $sprite_phover_group $sprite_pin_group $sprite_plitka_group $sprite_remove_group $sprite_ru_group $sprite_search_group $sprite_shover_group $sprite_star_group $sprite_userpic_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
