doctype
html(lang="ru", class="no-js")
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    title Dosug97.com
    script.
      (function(H)
      {
        H.className = H.className.replace(/\bno-js\b/, 'js')
      })(document.documentElement)
    <!--[if lt IE 9]>
    script(src="js/jquery-1.11.3.min.js")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    script(src="js/jquery-2.1.4.min.js")
    <!--<![endif]-->
  body.page
    <!--[if lt IE 8]>
    p.browsehappy Вы используете<strong>устаревший</strong> браузер. Пожалуйста<a href="http://browsehappy.com" target="_blank">обновите браузер</a> для лучшего отображения сайта.</p>
    <![endif]-->
    .page__content
      include header.jade
      include filters2.jade
      .page__main
        .layout.layout_sidebar_right
          .layout__content.layout__content_75
            .main-content
              .main-content__bread-crumbs
                .bread-crumbs
                  ul
                    li.bread-crumbs__item
                      a(href="").bread-crumbs__link Салоны Москвы
                      .bread-crumbs__separator -
                    li.bread-crumbs__item Райские птички
              .main-content__catalog-header.main-content__catalog-header_product-page
                .catalog-header
                  h1.catalog-header__title Райские птички
                  .catalog-header__controls
                    .catalog-header-controls
                      .catalog-header-controls__button
                        a(href="").button.button_color_green.button_style_rounded.button_size_sm Добавить в избранное
                      .catalog-header-controls__caution
                        .controls-caution ! 
              .main-content__product-slider
                .product-slider(style="opacity: 0; position: absolute;")
                  a(href="img/product-page/girl1.jpg").product-slider__item
                    img(src="img/product-page/girl1.jpg", alt="Картинка слайдера 0")
                  a(href="img/product-page/girl2.jpg").product-slider__item
                    img(src="img/product-page/girl2.jpg", alt="Картинка слайдера 1")
                  a(href="img/product-page/girl3.jpg").product-slider__item
                    img(src="img/product-page/girl3.jpg", alt="Картинка слайдера 2")
                  a(href="img/product-page/girl4.jpg").product-slider__item
                    img(src="img/product-page/girl4.jpg", alt="Картинка слайдера 3")
                .pswp(tabindex="-1", role="dialog", aria-hidden="true")
                  .pswp__bg
                  .pswp__scroll-wrap
                    .pswp__container
                      .pswp__item
                      .pswp__item
                      .pswp__item
                    .pswp__ui.pswp__ui--hidden
                      .pswp__top-bar
                        .pswp__counter
                        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
                        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
                        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
                        .pswp__preloader
                          .pswp__preloader__icn
                            .pswp__preloader__cut
                              .pswp__preloader__donut
                      .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                        .pswp__share-tooltip
                      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
                      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
                      .pswp__caption
                        .pswp__caption__center
              .main-content__product-info
                .product-info
                  .product-info__left
                    .product-info-stats
                      .product-info-stats__main-info
                        .catalog-item-info.catalog-item-info_product-page
                          .catalog-item-info__phone +7 908-659-65-95
                          a(href="").catalog-item-info__metro Проспект Генерала Ушакова
                          .catalog-item-info__address Ул. Лютеранская, 5-В
                      .product-info-stats__content-title
                        .content-title Тариф 
                      .product-info-stats__price
                        .product-info-stats-price
                          .product-info-stats-price__title.product-info-stats-price__title_building
                            span.product-info-stats-price__text Только аппартаменты
                          .product-info-stats-price__table
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble 
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble 
                              .clear
                          .product-info-stats-price__title.product-info-stats-price__title_auto
                            .product-info-stats-price__text Выезд
                          .product-info-stats-price__table
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble 
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble 
                              .clear
                  .product-info__right
                    .product-info-content
                      .product-info-content__title
                        .content-title.content-title_line О салоне
                      .product-info-content__text
                        p Лучше отдыха, чем у нас не может и быть. Сауна в Вашем распоряжении с джакузи. Дополнительные услуги опытных, молодых, красивых и общительных крошек. Расслабляющий массаж, стриптиз с продолжением по желанию каждого индивидуально. Будем рады каждому мужчине =)
                      .product-info-content__title 
                        .content-title.content-title_line Расположение
                      .product-info-content__map-wrapper
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=T3L_pfto0HdGvcZFGsmA2MxUwGBQNIKc&width=100%&height=350&lang=ru_RU&sourceType=constructor&scroll=true"></script>
                      .product-info-content__title
                        .content-title.content-title_line Отзывы
                      .product-info-content__authorization
                        .product-info-content-comment
                          .product-info-content-comment__list
                            .product-info-comment-list
                              .product-info-comment-list__item
                                .product-info-comment-list-item
                                  .product-info-comment-list-item__text Прекрасно провел досуг!! Спасибо огромное!! Девочки первоклассные, как и все, что они делают)))
                                  .product-info-comment-list-item__bottom
                                    a(href="").product-info-comment-list-item__name spiderman
                                    .product-info-comment-list-item__date 06.03.16
                              .product-info-comment-list__item
                                .product-info-comment-list-item
                                  .product-info-comment-list-item__text Хорoшие телочки, больше нечего сказать!
                                  .product-info-comment-list-item__bottom
                                    a(href="").product-info-comment-list-item__name lukas
                                    .product-info-comment-list-item__date 05.03.16
                              .product-info-comment-list__item
                                .product-info-comment-list-item
                                  .product-info-comment-list-item__text Ужасный салон, больше не приду сюда. Ужасно провел досуг!! Девочки ужасные, как и все, что они делают(( Развели на деньги по полной
                                  .product-info-comment-list-item__bottom
                                    a(href="").product-info-comment-list-item__name spiderman
                                    .product-info-comment-list-item__date 06.03.16
                          .product-info-content-comment__leave
                            form.product-info-comment-leave
                              .product-info-comment-leave__input
                                .form-item.form-item_type_textarea.form-item_no-border.form-item_style_default
                                  .form-item__input
                                    textarea(name="input-name", cols="80", rows="24")#input-name
                              .product-info-comment-leave__bottom
                                button(type="submit").button.button_color_violet.button_style_rounded.button_size_sm.button_style_bold Оставить отзыв
                  .clear
                  .product-info__offers
                    .product-offers
                      .product-offers__title
                        .content-title Девушки этого салона
                      .product-offers__list
                        .product-offers-list
                          .product-offers-list__item
                            a(href='').product-offers-list-item
                              .product-offers-list-item__image
                                img(src="img/catalog/girl1.jpg" alt="Марго")
                              .product-offers-list-item__bottom
                                .product-offers-list-item__name Марго
                                .product-offers-list-item__tel +7 935-831-84-85
                          .product-offers-list__item
                            a(href='').product-offers-list-item
                              .product-offers-list-item__image
                                img(src="img/catalog/girl2.jpg" alt="Анжела")
                              .product-offers-list-item__bottom
                                .product-offers-list-item__name Анжела
                                .product-offers-list-item__tel +7 908-381-09-35
                          .product-offers-list__item
                            a(href='').product-offers-list-item
                              .product-offers-list-item__image
                                img(src="img/catalog/girl3.jpg" alt="Карина")
                              .product-offers-list-item__bottom
                                .product-offers-list-item__name Карина
                                .product-offers-list-item__tel +7 956-158-87-24
                          .product-offers-list__item
                            a(href='').product-offers-list-item
                              .product-offers-list-item__image
                                img(src="img/catalog/girl4.jpg" alt="Альбина")
                              .product-offers-list-item__bottom
                                .product-offers-list-item__name Альбина
                                .product-offers-list-item__tel +7 956-158-87-24
              include banner.jade
          include sidebar.jade
      include footer.jade
    include popup.jade
    include scripts.jade
