doctype
html(lang="ru", class="no-js")
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    title Dosug97.com
    script.
      (function(H)
      {
        H.className = H.className.replace(/\bno-js\b/, 'js')
      })(document.documentElement)
    <!--[if lt IE 9]>
    script(src="js/jquery-1.11.3.min.js")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    script(src="js/jquery-2.1.4.min.js")
    <!--<![endif]-->
  body.page
    <!--[if lt IE 8]>
    p.browsehappy Вы используете<strong>устаревший</strong> браузер. Пожалуйста<a href="http://browsehappy.com" target="_blank">обновите браузер</a> для лучшего отображения сайта.</p>
    <![endif]-->
    .page__content
      include header.jade
      include filters2.jade
      .page__main
        .layout.layout_sidebar_right
          .layout__content
            .main-content
              .main-content__catalog-header
                .catalog-header
                  h1.catalog-header__title Все проститутки Москвы 
                  .catalog-header__catalog-view
                    .catalog-view
                      .catalog-view__title Отображать:
                      a(href="index.html").catalog-view__item.catalog-view__item_tiles
                        span.catalog-view__text Плиткой
                      a(href="dosug-spiskom.html").catalog-view__item.catalog-view__item_list.catalog-view__item_active
                        span.catalog-view__text Списком
                      a(href="dosug-photo.html").catalog-view__item.catalog-view__item_frame
                        span.catalog-view__text Только фото
              .main-content__catalog
                .catalog.catalog_list
                  .catalog__item
                    .catalog-item.catalog-item_list
                      .catalog-item__top
                        .catalog-item-top.catalog-item-top_list
                          a.catalog-item-top__image
                            img(src="img/catalog/girl1.jpg" ,alt="Елизаветочка")
                            img(src="img/catalog/girl6.jpg" ,alt="Елизаветочка")
                            img(src="img/catalog/girl7.jpg" ,alt="Елизаветочка")
                          .catalog-item-top__info
                            .catalog-item-info
                              .catalog__star-wrapper
                                a(href="#").catalog-item-info__name Елизаветочка
                                span.add__favorite
                              .catalog-item-info__phone +7 908-659-65-95
                              a(href="#").catalog-item-info__metro Проспект Генерал Ушакова
                              .catalog-item-info__attributes
                                table.catalog-item-attributes
                                  tr
                                    td Возраст:
                                    td 20
                                  tr
                                    td Рост:
                                    td 168
                                  tr
                                    td Вес:
                                    td 52
                                  tr
                                    td Грудь:
                                    td 5
                              .catalog-item-info__favorite
                                a(href="#").button.button_color_green.button_style_rounded.button_size_sm Добавить в избранное
                          .clear
                      .catalog-item__bottom
                        .catalog-item-bottom.catalog-item-bottom_list
                          .catalog-item-bottom__parameters
                            .catalog-item-parameters
                              .catalog-item-parameters__item.catalog-item-parameters__item_camera
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Фото проверено
                              .catalog-item-parameters__item.catalog-item-parameters__item_auto
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Есть выезд
                              .catalog-item-parameters__item.catalog-item-parameters__item_comment
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text (0)
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inne
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_list
                      .catalog-item__top
                        .catalog-item-top.catalog-item-top_list
                          a.catalog-item-top__image
                            img(src="img/catalog/girl2.jpg" ,alt="Натали")
                            img(src="img/catalog/girl8.jpg" ,alt="Натали")
                            img(src="img/catalog/girl9.jpg" ,alt="Натали")
                          .catalog-item-top__info
                            .catalog-item-info
                              .catalog__star-wrapper
                                a(href="#").catalog-item-info__name Натали
                                span.add__favorite
                              .catalog-item-info__phone +7 965-385-47-38
                              a(href="#").catalog-item-info__metro Волгоградски проспект
                              .catalog-item-info__attributes
                                table.catalog-item-attributes
                                  tr
                                    td Возраст:
                                    td 20
                                  tr
                                    td Рост:
                                    td 168
                                  tr
                                    td Вес:
                                    td 52
                                  tr
                                    td Грудь:
                                    td 5
                              .catalog-item-info__favorite
                                a(href="#").button.button_color_green.button_style_rounded.button_size_sm Добавить в избранное
                          .clear
                      .catalog-item__bottom
                        .catalog-item-bottom.catalog-item-bottom_list
                          .catalog-item-bottom__parameters
                            .catalog-item-parameters
                              .catalog-item-parameters__item.catalog-item-parameters__item_camera
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Фото проверено
                              .catalog-item-parameters__item.catalog-item-parameters__item_building
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Только аппартаменты
                              .catalog-item-parameters__item.catalog-item-parameters__item_comment
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text (0)
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inne
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_list
                      .catalog-item__top
                        .catalog-item-top.catalog-item-top_list
                          a.catalog-item-top__image
                            img(src="img/catalog/girl3.jpg" ,alt="Стэлла")
                            img(src="img/catalog/girl10.jpg" ,alt="Стэлла")
                            img(src="img/catalog/girl11.jpg" ,alt="Стэлла")
                          .catalog-item-top__info
                            .catalog-item-info
                              .catalog__star-wrapper
                                a(href="#").catalog-item-info__name Стэлла
                                span.add__favorite
                              .catalog-item-info__phone +7 908-381-09-35
                              a(href="#").catalog-item-info__metro Новы Черемушки
                              .catalog-item-info__attributes
                                table.catalog-item-attributes
                                  tr
                                    td Возраст:
                                    td 20
                                  tr
                                    td Рост:
                                    td 168
                                  tr
                                    td Вес:
                                    td 52
                                  tr
                                    td Грудь:
                                    td 5
                              .catalog-item-info__favorite
                                a(href="#").button.button_color_green.button_style_rounded.button_size_sm Добавить в избранное
                          .clear
                      .catalog-item__bottom
                        .catalog-item-bottom.catalog-item-bottom_list
                          .catalog-item-bottom__parameters
                            .catalog-item-parameters
                              .catalog-item-parameters__item.catalog-item-parameters__item_camera
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Фото проверено
                              .catalog-item-parameters__item.catalog-item-parameters__item_auto
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Есть выезд
                              .catalog-item-parameters__item.catalog-item-parameters__item_comment
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text (0)
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inne
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_list
                      .catalog-item__top
                        .catalog-item-top.catalog-item-top_list
                          a.catalog-item-top__image
                            img(src="img/catalog/girl4.jpg" ,alt="Дельфина")
                            img(src="img/catalog/girl12.jpg" ,alt="Дельфина")
                            img(src="img/catalog/girl1.jpg" ,alt="Дельфина")
                          .catalog-item-top__info
                            .catalog-item-info
                              .catalog__star-wrapper
                                a(href="#").catalog-item-info__name Дельфина
                                span.add__favorite
                              .catalog-item-info__phone +7 845-673-08-26
                              a(href="#").catalog-item-info__metro Третьяковская
                              .catalog-item-info__attributes
                                table.catalog-item-attributes
                                  tr
                                    td Возраст:
                                    td 20
                                  tr
                                    td Рост:
                                    td 168
                                  tr
                                    td Вес:
                                    td 52
                                  tr
                                    td Грудь:
                                    td 5
                              .catalog-item-info__favorite
                                a(href="#").button.button_color_green.button_style_rounded.button_size_sm Добавить в избранное
                          .clear
                      .catalog-item__bottom
                        .catalog-item-bottom.catalog-item-bottom_list
                          .catalog-item-bottom__parameters
                            .catalog-item-parameters
                              .catalog-item-parameters__item.catalog-item-parameters__item_camera
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Фото проверено
                              .catalog-item-parameters__item.catalog-item-parameters__item_building
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Только аппартаменты
                              .catalog-item-parameters__item.catalog-item-parameters__item_comment
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text (0)
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inne
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_list
                      .catalog-item__top
                        .catalog-item-top.catalog-item-top_list
                          a.catalog-item-top__image
                            img(src="img/catalog/girl5.jpg" ,alt="Марго")
                            img(src="img/catalog/girl2.jpg" ,alt="Марго")
                            img(src="img/catalog/girl3.jpg" ,alt="Марго")
                          .catalog-item-top__info
                            .catalog-item-info
                              .catalog__star-wrapper
                                a(href="#").catalog-item-info__name Марго
                                span.add__favorite
                              .catalog-item-info__phone +7 956-158-87-24
                              a(href="#").catalog-item-info__metro Театральная
                              .catalog-item-info__attributes
                                table.catalog-item-attributes
                                  tr
                                    td Возраст:
                                    td 20
                                  tr
                                    td Рост:
                                    td 168
                                  tr
                                    td Вес:
                                    td 52
                                  tr
                                    td Грудь:
                                    td 5
                              .catalog-item-info__favorite
                                a(href="#").button.button_color_green.button_style_rounded.button_size_sm Добавить в избранное
                          .clear
                      .catalog-item__bottom
                        .catalog-item-bottom.catalog-item-bottom_list
                          .catalog-item-bottom__parameters
                            .catalog-item-parameters
                              .catalog-item-parameters__item.catalog-item-parameters__item_camera
                              .catalog-item-parameters__item.catalog-item-parameters__item_auto
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text Есть выезд
                              .catalog-item-parameters__item.catalog-item-parameters__item_comment
                                i.catalog-item-parameters__icon
                                .catalog-item-parameters__text (0)
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inne
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
              .main-content__pagination
                nav.pagination
                  ul
                    li.pagination__item.pagination__item_first.pagination__item_active
                      a(href="#").pagination__link 1
                    li.pagination__item
                      a(href="#").pagination__link 2
                    li.pagination__item
                      a(href="#").pagination__link 3
                    li.pagination__item
                      a(href="#").pagination__link 4
                    li.pagination__item
                      a(href="#").pagination__link 5
                    li.pagination__item.pagination__item_spacer
                      .pagination__link ...
                    li.pagination__item
                      a(href="#", aria-label="Last").pagination__link 24
                    li.pagination__item.pagination__arrow.pagination__arrow_next
                      a(href="#", aria-label="Next").pagination__link
              .main-content__banner-wrapper
                include banner.jade
          include sidebar.jade
      include footer.jade
    include popup.jade
    include scripts.jade
