//- jade/footer.jade
.page__footer
  footer.footer
    .footer__inner
      .footer__menu
        .footer-menu
          .footer-menu__tab
            .footer-menu__item
              a(href="#").footer-menu__link Индивидуалки
            .footer-menu__item
              a(href="#").footer-menu__link Массажистки
          .footer-menu__tab
            .footer-menu__item
              a(href="#").footer-menu__link Салоны
            .footer-menu__item
              a(href="#").footer-menu__link Интим-карта
      .footer__button
        a(href="#").button.button_color_yellow.button_style_rounded.button_size_lg Добавить анкету
      .clear