//- jade/header3.jade
.page__header
  header.header
    .header__top
      .header__inner
        .header__logo
          a(href="index.html").logo
            img(src="img/header/logo.png", alt="")
        .header__metro.header__metro_450
          .header-metro
            .pseudo-dropdown.pseudo-dropdown_checkbox.pseudo-dropdown_desktop
              .pseudo-dropdown__top
                .pseudo-dropdown__title Метро:
                .pseudo-dropdown__trigger-checkbox Все станции
              .pseudo-dropdown__list.pseudo-dropdown__list_checkbox
                .pseudo-dropdown-list.pseudo-dropdown-list_checkbox
                  ul
                    li(data-value="0").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Александровский
                    li(data-value="1").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Алтуфьево
                    li(data-value="2").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Анадырь
                    li(data-value="3").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Архангельск
                    li(data-value="4").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Астрахань
                    li(data-value="5").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Барнаул
                    li(data-value="6").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Белгород
                    li(data-value="7").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Биробиджан
                    li(data-value="8").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Благовещенск
                    li(data-value="9").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Брянск
                    li(data-value="10").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Великий Новгород
                    li(data-value="11").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Владивосток
                    li(data-value="12").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Владикавказ
                    li(data-value="13").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Владимир
                    li(data-value="14").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Волгоград
                    li(data-value="15").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Вологда
                    li(data-value="16").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Воронеж
                    li(data-value="17").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Горно-Алтайск
                    li(data-value="18").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Грозный
                    li(data-value="19").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Екатеринбург
                    li(data-value="20").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Иваново
                    li(data-value="21").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Ижевск
                    li(data-value="22").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Иркутск
                    li(data-value="23").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Йошкар-Ола
                    li(data-value="24").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Казань
                    li(data-value="25").pseudo-dropdown-list__item
                      label.form-item.form-item_type_checkbox.form-item_style_default
                        .form-item__input
                          input(type="checkbox", name="input-name")#input-name
                        span.form-item__label Калининград
        .header__login.logined
          .header__lang-selector
            span.span__ru ru
            span.span__eng.lhidden eng
          a(href="").header-login_fav Избранное 0
          .header-login.header__login_reset
            a(href="lk.html").header-login__item
              svg.icon.icon_user
                use(xlink:href="img/icons.svg#user")
              span.header-login__text.active Личный кабинет
            a(href="#").header-login__item.jsAuth
              svg.icon.icon_enter
                use(xlink:href="img/icons.svg#enter")
              span.header-login__text Выход
          .modal(data-remodal-id="modal1")
            .modal__wrapper
              button(data-remodal-action="close").modal__close
                svg.icon.icon_close
                  use(xlink:href="img/icons.svg#close")
              .modal__content
                form.login-modal
                  .login-modal__title Вход в кабинет
                  .login-modal__form-item
                    .form-item.form-item_type_text.form-item_big.form-item_style_default
                      .form-item__input
                        input(type="text", name="input-name", placeholder="E-mail")#input-name
                  .login-modal__form-item
                    .form-item.form-item_type_text.form-item_big.form-item_style_default
                      .form-item__input
                        input(type="text", name="input-name", placeholder="Пароль")#input-name
                  .login-modal__bottom
                    .login-modal__button
                      button(type="submit").button.button_color_violet.button_style_rounded.button_size_lg Войти
                    a(href="#").login-modal__link Восстановить пароль 
                    .clear
        .clear
    .header__bottom
      .header__inner
        .header__menu
          button.toggle-menu
            .sandwitch
              span.sw-topper
              span.sw-bottom
              span.sw-footer
          nav.main-menu
            ul
              li.main-menu__item
                a(href="#").main-menu__link Индивидуалки
              li.main-menu__item
                a(href="#").main-menu__link Массажистки
              li.main-menu__item
                a(href="#").main-menu__link Салоны
              li.main-menu__item
                a(href="#").main-menu__link Интим-карта
          include header-metro.jade
          .search__button-wrapper
            .search__button
          .log__button-wrapper
            .log__button
        .header__add-profile-button
          a(href="#").button.button_color_yellow.button_style_rounded.button_size_lg Добавить анкету
        .clear