//-jade header-metro.jade
.pseudo-dropdown.pseudo-dropdown_checkbox.pseudo-dropdown_mobile
  .pseudo-dropdown__top
    .pseudo-dropdown__title Метро:
    .pseudo-dropdown__trigger-checkbox Все станции
  .pseudo-dropdown__list.pseudo-dropdown__list_checkbox
    .pseudo-dropdown-list.pseudo-dropdown-list_checkbox.pseudo-dropdown-list_mobile
      ul
        li(data-value="0").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Александровский
        li(data-value="1").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Алтуфьево
        li(data-value="2").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Анадырь
        li(data-value="3").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Архангельск
        li(data-value="4").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Астрахань
        li(data-value="5").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Барнаул
        li(data-value="6").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Белгород
        li(data-value="7").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Биробиджан
        li(data-value="8").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Благовещенск
        li(data-value="9").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Брянск
        li(data-value="10").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Великий Новгород
        li(data-value="11").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Владивосток
        li(data-value="12").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Владикавказ
        li(data-value="13").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Владимир
        li(data-value="14").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Волгоград
        li(data-value="15").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Вологда
        li(data-value="16").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Воронеж
        li(data-value="17").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Горно-Алтайск
        li(data-value="18").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Грозный
        li(data-value="19").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Екатеринбург
        li(data-value="20").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Иваново
        li(data-value="21").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Ижевск
        li(data-value="22").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Иркутск
        li(data-value="23").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Йошкар-Ола
        li(data-value="24").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Казань
        li(data-value="25").pseudo-dropdown-list__item
          label.form-item.form-item_type_checkbox.form-item_style_default
            .form-item__input
              input(type="checkbox", name="input-name")#input-name
            span.form-item__label Калининград