doctype
html(lang="ru", class="no-js")
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    title Dosug97.com
    script.
      (function(H)
      {
        H.className = H.className.replace(/\bno-js\b/, 'js')
      })(document.documentElement)
    <!--[if lt IE 9]>
    script(src="js/jquery-1.11.3.min.js")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    script(src="js/jquery-2.1.4.min.js")
    <!--<![endif]-->
  body.page
    <!--[if lt IE 8]>
    p.browsehappy Вы используете<strong>устаревший</strong> браузер. Пожалуйста<a href="http://browsehappy.com" target="_blank">обновите браузер</a> для лучшего отображения сайта.</p>
    <![endif]-->
    .page__content
      include header2.jade
      include filters.jade
      .page__main
        .layout.layout_sidebar_right
          .layout__content.layout__content_reset
            .main-content
              .main-content__catalog-header
                .catalog-header.catalog-header_reset
                  h1.catalog-header__title Личный кабинет
                  .catalog-header__tabs
                    button.button__sub
                      .sandwitch
                        span.sw-topper
                        span.sw-bottom
                        span.sw-footer
                    .row.between.column-r.column-r-wrapper.animated.fadeIn
                      a(href="izbrannoe.html").catalog-header__link Избранное
                      a(href="izbrannoe2.html").catalog-header__link.active Мои отзывы
                      a(href="izbrannoe3.html").catalog-header__link Настройки профиля
                  .catalog-header__salons
                    a(href="").catalog-header__slink.active Анкеты
                    a(href="").catalog-header__slink Салоны
              .main-content__catalog
                .catalog
                  .catalog_tiles_rev
                    .catalog_rev_col1
                      .catalog_rev_p Девочка неплохая! Фотки ее, но немного отфотошопленные:) Но за то она знает свое дело. Ставлю 5+ и неприменно приду еще!
                      .catalog_rev_date 25.12.2016
                    .catalog_rev_col2
                      a(href="").catalog_rev_col2-img
                        img(src="img/catalog/girl00.jpg", alt="")
                        | Елизаветочка
                  .catalog_tiles_rev
                    .catalog_rev_col1
                      .catalog_rev_p Должна быть хорошая девушка. Жаль, что далеко живёт. Пока ехал, пришло время возвращаться. Может быть, буду в Москве в другой раз доберусь...
                      .catalog_rev_date 25.12.2016
                    .catalog_rev_col2
                      a(href="").catalog_rev_col2-img
                        img(src="img/catalog/girl00.jpg", alt="")
                        | Елизаветочка
                  .catalog_tiles_rev
                    .catalog_rev_col1
                      .catalog_rev_p Уважаемые Доны наглый и бессовестный развод. Приехал в эту дыру а там в место указанных фей азиатка в теле и обещание через час подъехать блондинки. Но по телефону об этом ни ни, не тратьте время...и да я сам конечно должен был догадаться что за 2000 меня ждет.

                      .catalog_rev_date 25.12.2016
                    .catalog_rev_col2
                      a(href="").catalog_rev_col2-img
                        img(src="img/catalog/girl00.jpg", alt="")
                        | Елизаветочка
                  .catalog_tiles_rev
                    .catalog_rev_col1
                      .catalog_rev_p Девочка неплохая! Фотки ее, но немного отфотошопленные:) Но за то она знает свое дело. Ставлю 5+ и неприменно приду еще!
                      .catalog_rev_date 25.12.2016
                    .catalog_rev_col2
                      a(href="").catalog_rev_col2-img
                        img(src="img/catalog/girl00.jpg", alt="")
                        | Елизаветочка
                  .catalog_tiles_rev
                    .catalog_rev_col1
                      .catalog_rev_p Девочка неплохая! Фотки ее, но немного отфотошопленные:) Но за то она знает свое дело. Ставлю 5+ и неприменно приду еще!
                      .catalog_rev_date 25.12.2016
                    .catalog_rev_col2
                      a(href="").catalog_rev_col2-img
                        img(src="img/catalog/girl00.jpg", alt="")
                        | Елизаветочка
              .main-content__pagination
                nav.pagination
                  ul
                    li.pagination__item.pagination__item_first.pagination__item_active
                      a(href="#").pagination__link 1
                    li.pagination__item
                      a(href="#").pagination__link 2
                    li.pagination__item
                      a(href="#").pagination__link 3
                    li.pagination__item
                      a(href="#").pagination__link 4
                    li.pagination__item
                      a(href="#").pagination__link 5
                    li.pagination__item.pagination__item_spacer
                      .pagination__link ...
                    li.pagination__item
                      a(href="#", aria-label="Last").pagination__link 24
                    li.pagination__item.pagination__arrow.pagination__arrow_next
                      a(href="#", aria-label="Next").pagination__link
          include sidebar.jade
      .page__footer
        footer.footer
          .footer__inner
            .footer__menu
              .footer-menu
                .footer-menu__tab
                  .footer-menu__item
                    a(href="#").footer-menu__link Индивидуалки
                  .footer-menu__item
                    a(href="#").footer-menu__link Массажистки
                .footer-menu__tab
                  .footer-menu__item
                    a(href="#").footer-menu__link Салоны
                  .footer-menu__item
                    a(href="#").footer-menu__link Интим-карта
            .footer__button
              a(href="#").button.button_color_yellow.button_style_rounded.button_size_lg Добавить анкету
            .clear
    include popup.jade
    script(src="js/plugins.min.js")
    script(src="js/main.min.js")
    script(src="js/all.js")
