doctype
html(lang="ru", class="no-js")
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    title Dosug97.com
    script.
      (function(H)
      {
        H.className = H.className.replace(/\bno-js\b/, 'js')
      })(document.documentElement)
    <!--[if lt IE 9]>
    script(src="js/jquery-1.11.3.min.js")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    script(src="js/jquery-2.1.4.min.js")
    <!--<![endif]-->
  body.page
    <!--[if lt IE 8]>
    p.browsehappy Вы используете<strong>устаревший</strong> браузер. Пожалуйста<a href="http://browsehappy.com" target="_blank">обновите браузер</a> для лучшего отображения сайта.</p>
    <![endif]-->
    .page__content
      include header2.jade
      include filters.jade
      .page__main
        .layout.layout_sidebar_right
          .layout__content.layout__content_reset
            .main-content.main-content_17
              .main-content__catalog-header
                .catalog-header.catalog-header_reset
                  .row.between.header__title-wrap
                    h1.catalog-header__title Личный кабинет
                    .balance-block
                      span.balance__link Баланс: 250p
                      span.balance__link Расход в день: 112p
                      a(href="").balance__add.button.button_color_violet.button_style_rounded.button_sizesm.button_style_bold.button_border_none Пополнить счет
                  .catalog-header__tabs.catalog-header__tabs_reset
                    button.button__sub
                      .sandwitch
                        span.sw-topper
                        span.sw-bottom
                        span.sw-footer
                    .row.between.column-r.column-r-wrapper.animated.fadeIn
                      a(href="tarif.html").catalog-header__link Мои анкеты
                      a(href="salon3.html").catalog-header__link Салоны
                      a(href="banners.html").catalog-header__link.active Баннеры
                      a(href="settings.html").catalog-header__link Настройки профиля
                      a(href="help.html").catalog-header__link Помощь
              .main-content__catalog.catalog__acord-wrap
                .catalog.catalog__acord
                  .catalog__help
                    .b__baner-wrapper.row.between.center
                      a(href="").b__banner.add__color + Добавить баннер
                      span.all__banner Всего 3 баннера
                    .banner-wrap
                      .ban__row.row.between.center
                        .banner__col-2
                          .banner__img-wrap
                            img(src="img/commercial/banner3.jpg", alt="")
                        .banner__col-2
                          span.add__banner Баннер для салона райский отдых
                          span.catalog__span.banner__bg Подвал сайта в ротации
                          .banner__status
                            span.ban__stat Статус:
                            span.ban__stat2 Отключено
                          .banner__but.row.between
                            a(href="").button_banner.button_color_yellow.button_style_rounded Включить
                            a(href="").button_banner.button_color_grey.button_style_rounded Удалить баннер
                          .banner__link.row.between
                            span.ban__stat Ссылка:
                            .ban__link-wrap
                              a(href="").ban__link https://dosug97.com/banners/views/155654/4545/ethu/thht
                      .ban__row.row.between.center
                        .banner__col-2
                          .banner__img-wrap
                            img(src="img/sidebar/banner1.jpg", alt="")
                        .banner__col-2
                          span.add__banner Баннер для салона Alure
                          span.catalog__span.banner__bg Подвал сайта в ротации
                          .banner__status
                            span.ban__stat Статус:
                            span.ban__stat2.active Включено
                          .banner__but.row.between
                            a(href="").button_banner.button_color_grey2.button_style_rounded Отключить
                            a(href="").button_banner.button_color_grey.button_style_rounded Удалить баннер
                          .banner__link.row.between
                            span.ban__stat Ссылка:
                            .ban__link-wrap
                              a(href="").ban__link https://dosug97.com/banners/views/155654/4545/ethu/thht
                      .ban__row.row.between.center
                        .banner__col-2
                          .banner__img-wrap
                            img(src="img/sidebar/banner2.jpg", alt="")
                        .banner__col-2
                          span.add__banner Баннер для салона Bounty
                          span.catalog__span.banner__bg Подвал сайта в ротации
                          .banner__status
                            span.ban__stat Статус:
                            span.ban__stat2 Отключено
                          .banner__but.row.between
                            a(href="").button_banner.button_color_yellow.button_style_rounded Включить
                            a(href="").button_banner.button_color_grey.button_style_rounded Удалить баннер
                          .banner__link.row.between
                            span.ban__stat Ссылка:
                            .ban__link-wrap
                              a(href="").ban__link https://dosug97.com/banners/views/155654/4545/ethu/thht
                    .main-content__pagination
                      nav.pagination
                        ul
                          li.pagination__item.pagination__item_first.pagination__item_active
                            a(href="#").pagination__link 1
                          li.pagination__item
                            a(href="#").pagination__link 2
                          li.pagination__item
                            a(href="#").pagination__link 3
                          li.pagination__item
                            a(href="#").pagination__link 4
                          li.pagination__item
                            a(href="#").pagination__link 5
                          li.pagination__item.pagination__item_spacer
                            .pagination__link ...
                          li.pagination__item
                            a(href="#", aria-label="Last").pagination__link 24
                          li.pagination__item.pagination__arrow.pagination__arrow_next
                            a(href="#", aria-label="Next").pagination__link
                    include banner.jade
          include sidebar.jade
      include footer.jade
    include popup.jade
    include scripts.jade
