doctype
html(lang="ru", class="no-js")
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    title Dosug97.com
    script.
      (function(H)
      {
        H.className = H.className.replace(/\bno-js\b/, 'js')
      })(document.documentElement)
    <!--[if lt IE 9]>
    script(src="js/jquery-1.11.3.min.js")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    script(src="js/jquery-2.1.4.min.js")
    <!--<![endif]-->
  body.page
    <!--[if lt IE 8]>
    p.browsehappy Вы используете<strong>устаревший</strong> браузер. Пожалуйста<a href="http://browsehappy.com" target="_blank">обновите браузер</a> для лучшего отображения сайта.</p>
    <![endif]-->
    .page__content
      include header2.jade
      include filters.jade
      .page__main
        .layout.layout_sidebar_right
          .layout__content.layout__content_reset
            .main-content.main-content_17
              .main-content__catalog-header
                .catalog-header.catalog-header_reset
                  .row.between.header__title-wrap
                    h1.catalog-header__title Личный кабинет
                    .balance-block
                      span.balance__link Баланс: 250p
                      span.balance__link Расход в день: 112p
                      a(href="").balance__add.button.button_color_violet.button_style_rounded.button_sizesm.button_style_bold.button_border_none Пополнить счет
                  .catalog-header__tabs.catalog-header__tabs_reset
                    button.button__sub
                      .sandwitch
                        span.sw-topper
                        span.sw-bottom
                        span.sw-footer
                    .row.between.column-r.column-r-wrapper.animated.fadeIn
                      a(href="tarif.html").catalog-header__link Мои анкеты
                      a(href="salon3.html").catalog-header__link.active Салоны
                      a(href="banners.html").catalog-header__link Баннеры
                      a(href="settings.html").catalog-header__link Настройки профиля
                      a(href="help.html").catalog-header__link Помощь
              .main-content__catalog.catalog__acord-wrap
                .catalog.catalog__acord
                  .catalog__help
                    .b__baner-wrapper.row.between.center
                      a(href="").b__banner.add__color + Добавить салон
                      span.all__banner Всего 6 салоново
                    .salon__row.salon__items
                      .main-content__catalog
                        .row.between.wrap
                          .catalog__item.active
                            .catalog-item.atalog-item_salons
                              .catalog-item__only-photo
                                .catalog-item-only-photo
                                  a(href="").catalog-item-only-photo__image
                                    img(src="img/salon/salon1.jpg", alt="Laksheri")
                                  .catalog-item-only-photo__bottom
                                    a(href="").catalog-item-only-photo__name Laksheri
                                    .catalog-item-only-photo__phone +7 908-659-65-95
                                    a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                            .row.salon__bottom.between
                              .salon__col2.between
                                a(href="").button_banner.button_color_pink.button_style_rounded Редактировать салон
                                a(href="").button_banner.button_color_grey.button_style_rounded Удалить салон
                              .salon__col2.salon__col2_40
                                .b-status
                                  span.ban__stat Статус:
                                  span.ban__stat2 Отключено
                                a(href="").button_banner.button_color_yellow.button_style_rounded Включить
                          .catalog__item
                            .catalog-item.catalog-item_salons
                              .catalog-item__only-photo
                                .catalog-item-only-photo
                                  a(href="#").catalog-item-only-photo__image
                                    img(src="img/salon/salon2.jpg" alt="Райский отдых")
                                  .catalog-item-only-photo__bottom
                                    a(href="#").catalog-item-only-photo__name Райский отдых
                                    .catalog-item-only-photo__phone +7 969-275-25-77
                                    a(href="#").catalog-item-only-photo__metro Волгоградский проспект
                            .row.salon__bottom.between
                              .salon__col2.between
                                a(href="").button_banner.button_color_pink.button_style_rounded Редактировать салон
                                a(href="").button_banner.button_color_grey.button_style_rounded Удалить салон
                              .salon__col2.salon__col2_40
                                .b-status
                                  span.ban__stat Статус:
                                  span.ban__stat2 Включено
                                a(href="").button_banner.button_color_grey2.button_style_rounded Отключить
                          .catalog__item
                            .catalog-item.catalog-item_salons
                              .catalog-item__only-photo
                                .catalog-item-only-photo
                                  a(href="#").catalog-item-only-photo__image
                                    img(src="img/salon/salon2.jpg" alt="Beautiful girls")
                                  .catalog-item-only-photo__bottom
                                    a(href="#").catalog-item-only-photo__name Beautiful girls
                                    .catalog-item-only-photo__phone +7 968-713-20-33
                                    a(href="#").catalog-item-only-photo__metro Проспект Генерала Ушакова
                            .row.salon__bottom.between
                              .salon__col2.between
                                a(href="").button_banner.button_color_pink.button_style_rounded Редактировать салон
                                a(href="").button_banner.button_color_grey.button_style_rounded Удалить салон
                              .salon__col2.salon__col2_40
                                .b-status
                                  span.ban__stat Статус:
                                  span.ban__stat2 Включено
                                a(href="").button_banner.button_color_grey2.button_style_rounded Отключить
                          .catalog__item
                            .catalog-item.catalog-item_salons
                              .catalog-item__only-photo
                                .catalog-item-only-photo
                                  a(href="#").catalog-item-only-photo__image
                                    img(src="img/salon/salon2.jpg" alt="Рандеву")
                                  .catalog-item-only-photo__bottom
                                    a(href="").catalog-item-only-photo__name Рандеву
                                    .catalog-item-only-photo__phone +7 908-036-93-09
                                    a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                            .row.salon__bottom.between
                              .salon__col2.between
                                a(href="").button_banner.button_color_pink.button_style_rounded Редактировать салон
                                a(href="").button_banner.button_color_grey.button_style_rounded Удалить салон
                              .salon__col2.salon__col2_40
                                .b-status
                                  span.ban__stat Статус:
                                  span.ban__stat2 Включено
                                a(href="").button_banner.button_color_grey2.button_style_rounded Отключить
                          .catalog__item.active
                            .catalog-item.catalog-item_salons
                              .catalog-item__only-photo
                                .catalog-item-only-photo
                                  a(href="#").catalog-item-only-photo__image
                                    img(src="img/salon/salon1.jpg" alt="Красотки")
                                  .catalog-item-only-photo__bottom
                                    a(href="").catalog-item-only-photo__name Красотки
                                    .catalog-item-only-photo__phone +7 985-684-24-14
                                    a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                            .row.salon__bottom.between
                              .salon__col2.between
                                a(href="").button_banner.button_color_pink.button_style_rounded Редактировать салон
                                a(href="").button_banner.button_color_grey.button_style_rounded Удалить салон
                              .salon__col2.salon__col2_40
                                .b-status
                                  span.ban__stat Статус:
                                  span.ban__stat2 Отключено
                                a(href="").button_banner.button_color_yellow.button_style_rounded Включить
                          .catalog__item.active
                            .catalog-item.catalog-item_salons
                              .catalog-item__only-photo
                                .catalog-item-only-photo
                                  a(href="#").catalog-item-only-photo__image
                                    img(src="img/salon/salon1.jpg" alt="Laksheri")
                                  .catalog-item-only-photo__bottom
                                    a(href="").catalog-item-only-photo__name Laksheri
                                    .catalog-item-only-photo__phone +7 908-659-65-95
                                    a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                            .row.salon__bottom.between
                              .salon__col2.between
                                a(href="").button_banner.button_color_pink.button_style_rounded Редактировать салон
                                a(href="").button_banner.button_color_grey.button_style_rounded Удалить салон
                              .salon__col2.salon__col2_40
                                .b-status
                                  span.ban__stat Статус:
                                  span.ban__stat2 Отключено
                                a(href="").button_banner.button_color_yellow.button_style_rounded Включить
                  .main-content__pagination
                    nav.pagination
                      ul
                        li.pagination__item.pagination__item_first.pagination__item_active
                          a(href="#").pagination__link 1
                        li.pagination__item
                          a(href="#").pagination__link 2
                        li.pagination__item
                          a(href="#").pagination__link 3
                        li.pagination__item
                          a(href="#").pagination__link 4
                        li.pagination__item
                          a(href="#").pagination__link 5
                        li.pagination__item.pagination__item_spacer
                          .pagination__link ...
                        li.pagination__item
                          a(href="#", aria-label="Last").pagination__link 24
                        li.pagination__item.pagination__arrow.pagination__arrow_next
                          a(href="#", aria-label="Next").pagination__link
          include sidebar.jade
      .page__footer
        footer.footer
          .footer__inner
            .footer__menu
              .footer-menu
                .footer-menu__tab
                  .footer-menu__item
                    a(href="#").footer-menu__link Индивидуалки
                  .footer-menu__item
                    a(href="#").footer-menu__link Массажистки
                .footer-menu__tab
                  .footer-menu__item
                    a(href="#").footer-menu__link Салоны
                  .footer-menu__item
                    a(href="#").footer-menu__link Интим-карта
            .footer__button
              a(href="#").button.button_color_yellow.button_style_rounded.button_size_lg Добавить анкету
            .clear
    include popup.jade
    include scripts.jade