doctype
html(lang="ru", class="no-js")
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    title Dosug97.com
    script.
      (function(H)
      {
        H.className = H.className.replace(/\bno-js\b/, 'js')
      })(document.documentElement)
    <!--[if lt IE 9]>
    script(src="js/jquery-1.11.3.min.js")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    script(src="js/jquery-2.1.4.min.js")
    <!--<![endif]-->
  body.page
    <!--[if lt IE 8]>
    p.browsehappy Вы используете<strong>устаревший</strong> браузер. Пожалуйста<a href="http://browsehappy.com" target="_blank">обновите браузер</a> для лучшего отображения сайта.</p>
    <![endif]-->
    .page__content
      include header.jade
      include filters.jade
      .page__main
        .layout.layout_sidebar_right
          .layout__content
            .main-content
              .main-content__catalog-header
                .catalog-header
                  h1.catalog-header__title Все салоны Москвы
              .main-content__catalog
                .catalog.catalog_salons
                  .catalog__item
                    .catalog-item.atalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="").catalog-item-only-photo__image
                            img(src="img/catalog/salon1.jpg", alt="Laksheri")
                          .catalog-item-only-photo__bottom
                            a(href="").catalog-item-only-photo__name Laksheri
                            .catalog-item-only-photo__phone +7 908-659-65-95
                            a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                      .catalog-item__text
                        .catalog-item-text Laksheri`! закрытый мужской клуб для Господ, ценящих красоту и комфорт. В нашем клубе премиум класса Вас в гости ждут девушки модельного плана. При желании, понравившаяся девушка приедет к Вам в гости. У нас на выбор имеются VIP комнаты: комната свечей, комната 
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="#").catalog-item-only-photo__image
                            img(src="img/catalog/salon2.jpg" alt="Райский отдых")
                          .catalog-item-only-photo__bottom
                            a(href="#").catalog-item-only-photo__name Райский отдых
                            .catalog-item-only-photo__phone +7 969-275-25-77
                            a(href="#").catalog-item-only-photo__metro Волгоградский проспект
                      .catalog-item__text
                        .catalog-item-text Достойный выбор! Уютные апартаменты! Соответствие цены и качества! Всегда большой и шикарный выбор! У вас останутся самые положительн &quot;сердца&quot; и зеркальная комната. Так же у нас есть программы отдыха в джакузи, стриптиз и программки
                          | для семейных пар
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="#").catalog-item-only-photo__image
                            img(src="img/catalog/salon3.jpg" alt="Beautiful girls")
                          .catalog-item-only-photo__bottom
                            a(href="#").catalog-item-only-photo__name Beautiful girls
                            .catalog-item-only-photo__phone +7 968-713-20-33
                            a(href="#").catalog-item-only-photo__metro Проспект Генерала Ушакова
                      .catalog-item__text
                        .catalog-item-text 24 часа. Ухоженные и сексуальные девушки приглашают в гости или приедут к Вам. Смелее звони нам прямо сейчас. Мы уже мокренькие и наши киска стонут от желания. Наши упругие груди и аппетитные попки готовы соблазнять тебя снова и снова. Звони,
                          | не пожалеешь!
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="#").catalog-item-only-photo__image
                            img(src="img/catalog/salon4.jpg" alt="Рандеву")
                          .catalog-item-only-photo__bottom
                            a(href="").catalog-item-only-photo__name Рандеву
                            .catalog-item-only-photo__phone +7 908-036-93-09
                            a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                      .catalog-item__text
                        .catalog-item-text Наши великолепные девушки знают как задать нужный импульс не только в преддверии выходных, но и в будние дни. Сексуальность, не ведающая рамок, чувственность и лёгкое эротичное безумие на грани фантастики.
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="#").catalog-item-only-photo__image
                            img(src="img/catalog/salon5.jpg" alt="Красотки")
                          .catalog-item-only-photo__bottom
                            a(href="").catalog-item-only-photo__name Красотки
                            .catalog-item-only-photo__phone +7 985-684-24-14
                            a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                      .catalog-item__text
                        .catalog-item-text Салон `КРАСОТКИ`. В нашем салоне Вашему вниманию предоставляется богатый выбор девушек всех возрастных категорий, которые с удовольствием исполнят все Ваши заветные сексуальные фантазии.
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="#").catalog-item-only-photo__image
                            img(src="img/catalog/salon6.jpg" alt="Laksheri")
                          .catalog-item-only-photo__bottom
                            a(href="").catalog-item-only-photo__name Laksheri
                            .catalog-item-only-photo__phone +7 908-659-65-95
                            a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                      .catalog-item__text
                        .catalog-item-text Laksheri`! закрытый мужской клуб для Господ, ценящих красоту и комфорт. В нашем клубе премиум класса Вас в гости ждут девушки модельного плана. При желании, понравившаяся девушка приедет к Вам в гости. У нас на выбор имеются VIP комнаты: комната свечей, комната
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="#").catalog-item-only-photo__image
                            img(src="img/catalog/salon7.jpg" alt="Сладкая жизнь")
                          .catalog-item-only-photo__bottom
                            a(href="").catalog-item-only-photo__name Сладкая жизнь
                            .catalog-item-only-photo__phone +7 968-028-96-54
                            a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                      .catalog-item__text
                        .catalog-item-text Laksheri`! закрытый мужской клуб для Господ, ценящих красоту и комфорт. В нашем клубе премиум класса Вас в гости ждут девушки модельного плана. При желании, понравившаяся девушка приедет к Вам в гости. У нас на выбор имеются VIP комнаты: комната свечей, комната
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
                  .catalog__item
                    .catalog-item.catalog-item_salons
                      .catalog-item__only-photo
                        .catalog-item-only-photo
                          a(href="#").catalog-item-only-photo__image
                            img(src="img/catalog/salon8.jpg", alt="Дикая мята")
                          .catalog-item-only-photo__bottom
                            a(href="").catalog-item-only-photo__name Дикая мята
                            .catalog-item-only-photo__phone +7 908-659-65-95
                            a(href="").catalog-item-only-photo__metro Проспект Генерала Ушакова
                      .catalog-item__text
                        .catalog-item-text Дорогие мужчины! У нас тихо, спокойно, безопасно, VIP-апартаменты, большой выбор горячих девушек и горячительных напитков на любой вкус! Работаем 24 часа в сутки!!! ВЫЕЗД ЕСТЬ !!!
                      .catalog-item__bottom.catalog-item__bottom_salons
                        .catalog-item-bottom
                          .catalog-item-bottom__time-price
                            .catalog-item-time-price
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 1 час
                                  .catalog-item-time-price__price
                                    <b>3000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time 2 часа
                                  .catalog-item-time-price__price
                                    <b>5000</b>
                                    .rouble
                              .catalog-item-time-price__item
                                .catalog-item-time-price__item-inner
                                  .catalog-item-time-price__time Ночь
                                  .catalog-item-time-price__price
                                    <b>10000</b>
                                    .rouble
                              .clear
                          .clear
              .main-content__pagination
                nav.pagination
                  ul
                    li.pagination__item.pagination__item_first.pagination__item_active
                      a(href="#").pagination__link 1
                    li.pagination__item
                      a(href="#").pagination__link 2
                    li.pagination__item
                      a(href="#").pagination__link 3
                    li.pagination__item
                      a(href="#").pagination__link 4
                    li.pagination__item
                      a(href="#").pagination__link 5
                    li.pagination__item.pagination__item_spacer
                      .pagination__link ...
                    li.pagination__item
                      a(href="#", aria-label="Last").pagination__link 24
                    li.pagination__item.pagination__arrow.pagination__arrow_next
                      a(href="#", aria-label="Next").pagination__link
          include sidebar.jade
      include footer.jade
    include popup.jade
    script(src="js/plugins.min.js")
    script(src="js/main.min.js")
    script(src="js/all.js")
